[2014-05-27 18:25] mcenerney1 opened #1 "Closing calculator after normal startup"
None None
    Error adding project:  'NoneType' object has no attribute 'template'
Traceback (most recent call last):
    File "/usr/local/uvcdat/1.5.1/vistrails/vistrails/gui/uvcdat/workspace.py", line 486, in add_project int(cell[1]), int(cell[2]), plot_type.value))
    File "/usr/local/uvcdat/1.5.1/vistrails/vistrails/gui/uvcdat/project_controller.py", line 588, in vis_was_dropped sheetName, ro

[2014-05-27 18:35] mcenerney1 opened #2 "Diagnostics window persistance"
[code]

[2014-05-27 18:39] mcenerney1 opened #3 "Vertical contour plots verticle means error"
The files used are in dropbox under ClimateData.  After making the entries for the 2 files, selecting this plot and clicking apply, the program thinks for a while and I get
the following:
    uvcdat jfp preparing data for plot_ABSORB_ANN_ft2_ft4
    Traceback (most recent call last):
  File "/usr/local/uvcdat/1.5.1/vistrails/vistrails/gui/uvcdat/diagnosticsDockWidget.py", line 606, in buttonClicke

[2014-05-27 18:46] mcenerney1 opened #4 "Order of execution"
After normal startup, execute load variables form a file, one of the files in dropbox    ClimateData.  Then open a saved project.  this is what you get. It looks like the same error from the calculator close issue.

    Error adding project:  'NoneType' object has no attribute 'template'
    Traceback (most recent call last):
      File "/usr/local/uvcdat/1.5.1/vistrails/vistrails/gui/uvcdat/works

[2014-05-27 18:47] #3 closed, assigned to nobody

[2014-05-27 18:50] mcenerney1 opened #5 "Diagnostics senility"
It would be nice if the state of the diagnostics window was saved after termination. Reentry is painful after a restart.

[2014-05-27 20:23] mcenerney1 opened #6 "Horizontal Contour Plots of Seasonal Means error"
For an AMWG diagnostic & using the data in dropbox ClimateData  I get. Note it's complaining that ABSORB_var is not a key, but ABSORB is a key.
  diagnostic:  5 - Horizontal Contour Plots of Seasonal Means
    observation1: None
    observation2: None
    variable: ABSORB
    auxiliary option:  default
    region_box: None
    season: DEC
    setting ft1 to self.ft1
    ERROR.  No filetable specif

[2014-05-27 20:27] mcenerney1 opened #7 "Line Plots of Zonal Means error"
Erro of zonal means using the ClimateData, I get

  diagnostic:  3 - Line Plots of  Zonal Means
    observation1: None
    observation2: None
    variable: ABSORB
    auxiliary option:
    region_box: None
    season: DEC
    setting ft1 to self.ft1
    ERROR.  No filetable specified for reduced_variable instance ABSORB
    ERROR no data found for reduced variable ABSORB
in drange -inf to inf None

[2014-05-27 20:50] #7 closed, assigned to nobody

[2014-05-28 18:32] mcenerney1 opened #8 "Line Plots of Zonal Means error"
[code]

 diagnostic:  3 - Line Plots of  Zonal Means
    observation1: None
    observation2: None
    variable: ABSORB
    auxiliary option:
    region_box: None
    season: DEC
    setting ft1 to self.ft1
    ERROR.  No filetable specified for reduced_variable instance ABSORB
    ERROR no data found for reduced variable ABSORB
in drange -inf to inf None drange -inf to inf None drange -inf to inf

[2014-06-05 17:36] #6 closed, assigned to nobody

[2014-06-05 18:32] painter1 opened #9 "lmwg func=evapfrac_special"
In two places in lmwg.py, a derived variable is defined with func=evapfrac_special.  The problem is that one of them, plot set 3b, has two input arguments but the other, plot set 3, has four input arguments.  The function is defined in reductions.py to have two input arguments.  Something needs to be changed to make all three references to evapfrac_special consistent.  Maybe the derived variable i

[2014-06-05 19:38] painter1 opened #10 "Reduction of nonlinearly derived variables"
Most of the plotted data is reduced (dimensionality) model/obs data, or variables computed from model/obs data by linear functions.  The present code design is targeted at this situation.  That's why we can usually get by with reading climatology files rather than the original model output data (I haven't seen any obs data that isn't climatologies, but I'm sure it exists).

Sometimes however, e.g.

[2014-06-11 18:11] mcenerney1 opened #11 "GUI crashes"
Using AMWG diagnostics, set all of the settings for plot set 5 and apply to generate the graphics.  After the graphics is displayed, click the blank windows. The gui crashes
frequently.  This is not unique to plot set 5.  The data used is available in mcenerney1/ClimateData/sim on aims1

[2014-06-12 15:31] mcenerney1 opened #12 "Use observational data"
In the AMWG Diagnostic menu, when trying to use observational data, it allows you to set the path. When selecting a file, it appears that it will give you a pull down menu. However
there is nothing to select. Also you can't enter the file name either.

[2014-06-17 21:24] #11 closed, assigned to nobody

[2014-06-20 19:52] #8 closed, assigned to nobody

[2014-07-11 16:14] mcenerney1 opened #13 "batch vs gui conflict"
When running in batch mode options._opts['path'] is a dictionary. When running in the gui it's a list.  Also in the list form it is a list of two elements. The second is a default of the root directory. It would be better defined as None.

[2014-07-21 16:14] doutriaux1 opened #14 "commit e3fe3507606e001db2fcfb54a1ac9d3aef9f6674 removed a keyword"
@isubsmith

Brian, Jeff

Jim code is broken because of a change introduced by commit #e3fe3507606e001db2fcfb54a1ac9d3aef9f6674 in src/python/computation/reductions.py

-def reduce2latlon_seasonal( mv, seasons=seasonsyr, vid=None ):
+### This does not yet work; Asking for help from Charles
+def reduce2latlon_seasonal_level( mv, season, level, vid=None):

As you can see "season" is now no longer opt

[2014-07-21 18:53] #14 closed, assigned to painter1

[2014-08-07 18:56] painter1 opened #15 "LMWG data vs data comparison"
It has been difficult to get suitable test data for the LMWG plots, so I do not believe that there has been much meaningful testing of comparison plots (two datasets compared against each other, whether from models or observations).   Without testing, bugs are inevitable.  We need to do the testing and bug fixing, but until then, it is important that we not release this code in such a manner that

[2014-08-07 19:02] painter1 opened #16 "LMWG plots on climatology files"
Several of the LMWG plots are plots of "trends", hence they are possible only with time-dependent data.  Thus climatology files are not useful input.

The LMWG code is correct to not compute trend plots based on climatologies.  But if a user tries to get one, he will have little information as to why there is no plot.   In the GUI, the trend plot sets should not appear in the plot set menu for suc

[2014-08-08 00:12] painter1 opened #17 "Labels, TItles, etc."
This applies to both the UV-CDAT GUI and PNG output.

Axes have no labels.  Lines in multi-line plots should have different colors, and they should be explained by a legend.  Titles are much better than before, but need improvement.  There is still overwriting on the min/max/mean line for line plots.  In some cases, notably when there are >4 plots, the plots should be smaller and the text larger.

[2014-08-08 00:20] painter1 opened #18 "Slow, little feedback"
Some diagnostic computations, notably those which involve reading in lots of data, are inherently slow.  Others are slow because they need more programming work, e.g. resizing a window with a lot of graphics.  Sometimes (not usually) if you click on a button it takes seconds to see a checkmark appear there.  There should be immediate feedback every time the user does something significant.  If it

[2014-08-08 16:37] painter1 opened #19 "dateutil imports"
Earlier I had eliminated imports from the dateutil package.  It's part of the standard Python distribution, but not the UV-CDAT Python distribution.  As Aashish noticed, there are still some imports from dateutil present.  They need to be eliminated too.

[2014-08-08 18:08] #19 closed, assigned to painter1

[2014-08-13 17:19] painter1 opened #20 "Better variable menus, better behavior when data is missing"
Sometimes a variable appears on the variable menu when it cannot actually be plotted.
I think that this problem doesn't exist any more (it used to) for reduced variables, which is the easy case.
But it's a universal problem when derived variables are on the menu.  That's AMWG plot set 2 and several LMWG plot sets.

As a backup, we can do better when we try to compute a plot and it turns out to be

[2014-08-13 17:57] painter1 opened #21 "take dateutil out of diagnostics"
Earlier I had eliminated imports from the dateutil package.  It's part of the standard Python distribution, but not the UV-CDAT Python distribution.  As Aashish noticed, there are still some imports from dateutil present.  They need to be eliminated too.

[2014-08-13 17:58] #21 closed, assigned to nobody

[2014-08-13 20:20] painter1 opened #22 "climatology.py output"
The Options class allows one to specify an --output option when running climatology.py from the command line.  But the climatology script is unaware of this option.  The script should write output to the directory specified by options['output'], if any.

[2014-08-15 21:02] painter1 opened #23 "specify output path for scripts"
Marcia tried to set the output path when she ran the climatology script - an unimplemented feature.  So I changed options.py, diags.py, and climatology.py to implement that feature.

It's already pushed to the github repository; I'm writing this to document the change.  Maybe next time I'll type in the issue before fixing it, so I can explicitly like to it in commits.

[2014-08-15 21:02] #23 closed, assigned to nobody

[2014-09-30 16:04] painter1 opened #24 "Variable name synonyms"
We need a better-developed system for handling variables with synonyms (two datasets have different names for the same variable) or near-synonyms (minor changes needed to make them mean the same thing, e.g. units conversion).
Here are two examples, one for an axis variable and one for a physical variable:
1. plev in JRA25 obs means the same as lev in CAM and NCEP obs (level defined by pressure in

[2014-09-30 16:31] painter1 opened #25 "Some command-line jobs which aren't working today"
diags --path ~/metrics_data/cam35_data/ --path2 /Users/painter1/metrics_data/obs_data_5.6/  --filter2 "f_startswith('NCEP')" --package AMWG --set 7 --seasons ANN --vars T --varopts ' Northern Hemisphere'
  File "/Users/painter1/bin/uvcdat-2014.09.10/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/vcs/VCS_validation_functions.py", line 50, in checkedRaise
    raise ex(e

[2014-10-08 21:54] painter1 opened #26 "Various issues with Atmosphere plot sets 1-10"
I tested with my script lotsa_diags.sh.  Presently this does one each of plot sets 1-11; although 7
and 11 are disabled in the diagnostics code. All are good except as noted.  Most of these issues are minor.  The more important ones are 6.v), 10.ii), and 6.iii).
all: i) Whenever two plots are overlaid, the correct plot is written out, but also there is an unwanted
     plot of only one of the two

[2014-12-20 01:18] susburrows opened #36 "Problems with CF-compliance of ERBE and and CERES datasets"

[2014-12-20 01:34] susburrows opened #37 "Many AMWG diagnostic plots fail with "MemoryError""
Here is an anonymized example of a command that fails with a "MemoryError" for the current devel branch.

diags.py --path $CLIMOSPATH --path2 $OBSPATH --package AMWG --set 4   --filter2 "f_startswith('ERAI')" --vars T --outputdir $OUTPUTDIR --outputpost _ERAI --xml no --outputpre setso --regions 'southern extratropics'

[2014-12-20 01:43] susburrows opened #38 "Output produced for combined plots and diff plots, but not for individual panels for the two model/obs datasets"

[2014-12-20 07:46] susburrows opened #39 "AMWG Set 8 is unresponsive to season argument (?)"
This is not urgent, but AMWG set8 appears to be unresponsive to the season argument.  Not sure what the correct behavior should be, but maybe at least a warning should be issued?

[2014-12-20 08:23] susburrows opened #42 "to reduce ambiguity, file names should include "regions" tag (and if not provided, use "global")"

[2014-12-22 19:11] susburrows opened #44 "Plot labels are sometimes "overwritten""
Example (AMWG set 8 with regions)

![image](https://cloud.githubusercontent.com/assets/6811403/5529605/26eb3316-89cb-11e4-8794-0a2cd0ebc69b.png)

[2014-12-22 21:57] #38 closed, assigned to nobody

[2014-12-23 00:36] susburrows opened #47 "Issue converting kg/m2/s to mm/day in reconcile_units"
I'll try to fix this one.

Failing command is:
/ccs/home/sburrows/metrics/frontend/diags.py --path /lustre/atlas/scratch/sburrows/cli112/climos/mam3_aerocom_bbff --path2 /lustre/atlas/world-shared/csc121/acme-dev-1-obs-data --package AMWG --set 3 --seasons ANN  --filter2 "f_startswith('WHOI')" --vars QFLX --outputdir /lustre/atlas/scratch/sburrows/cli112/diags/mam3_aerocom_bbff/amwg --outputpost _

[2015-01-05 19:39] susburrows commented on #44
just following up here -- as we discussed elsewhere, we got most of those issues resolved before the holidays.

[2015-01-07 21:34] susburrows commented on #36
I am closing this issue, since it has been resolved.  The problem was caused by testing with a data directory that had some missing and/or corrupted obs files.

[2015-01-07 21:35] susburrows commented on #42
This can be closed after PR #46 is merged.

[2015-01-07 23:49] #47 closed

[2015-01-07 23:51] #42 closed

[2015-01-14 21:56] susburrows commented on #36
I'm reopening this since the problems with the CERES and ERBE datasets still exist.

[2015-01-30 18:38] painter1 opened #56 "VCS write metadata in image"
It would be very useful to have a capability to write metadata into an image file.  Most image file formats support this.  We need to start with an API in VCS.   I think that all metadata could be expressed as strings.  So on input to VCS, the metadata could be expressed as a dictionary of attribute_name:value_string pairs.

The file formats which would be most useful to the ACME project are png (

[2015-01-30 18:39] painter1 commented on #56
oops, I put this in the wrong place

[2015-01-30 18:39] #56 closed

[2015-02-02 17:46] doutriaux1 opened #57 "2D plots with latitude and height"
originally posted by @potter2 here:
https://github.com/UV-CDAT/uvcdat/issues/1001

[2015-02-02 17:51] painter1 commented on #57
@potter2, should level *always* be in hPa?

[2015-02-02 17:55] potter2 commented on #57
I think it should. I would rather not have the actual log but just a log scale. At least it should default to hPa. Having height in km on the right is a nice touch too.

Thanks,
Jerry

Gerald (Jerry) Potter
NASA Goddard Space Flight Center
E-mail  gerald.potter@nasa.gov
Office  28:S241
Phone    707.315.8314
Analysis and Data Consultant
Department      GSFC:606.2

From: Jeffrey Painter <notificatio

[2015-02-02 17:58] susburrows commented on #57
I agree that it should be in hPa, but I vote for labelling the axis "Pressure" rather than "Level" (since in general it is not really the model level, and the units are pressure units).

[2015-02-02 18:35] potter2 commented on #57
I agree it should be in hPa.

[2015-02-19 16:52] painter1 opened #61 "multiple datasets in all diagnostics"
Jerry Potter pointed out that it would be useful to be able to plot many model or obs data sets in one blow.  That would make sense for most of our plot sets.

With N>2 model plots and M>2 obs plots we'd have to forget about computing N*(N-1)/2 model-model or N*M model-obs difference plots.  But I think maybe model-(average obs) or model-(average model) would be useful.

[2015-02-20 20:10] doutriaux1 opened #62 "frontend import uvcmetrics.json"
file is not where frontend __init__.py looks for it

[2015-02-20 20:13] isubsmith commented on #62
Can you point us to where it is and/or explain what this is for?

(git blame shows you added the stuff to frontend/__init__.py :) )

Thanks.

On Fri, Feb 20, 2015 at 3:10 PM, Charles Doutriaux <notifications@github.com

[2015-02-20 20:25] #62 closed

[2015-02-20 20:28] painter1 commented on #62
It's about getting VCS templates into the system.

[2015-02-24 19:43] susburrows opened #64 "Showstopper: Using correct (area-weighted vs. mass-weighted) averaging weights in calculating means and RMSEs"
Correct weightings should be used in calculating averages, sums, RMSE, etc.  For instance, mass mixing ratios should be weighted by air density before averaging operations.  There should be a mechanism to distinguish intensive variables (such as temperature and mass mixing ratios), extensive variables (such as air mass), and 2D fields with area averaging (such as cloud fraction), so that the appro

[2015-02-24 19:44] susburrows commented on #64
@painter1 commented: "the current code uses area-weighted averaging for computing diagnostic plots.  The only unweighted average is the mean you see printed at the top of the plot."

We believe that for the vertical zonal mean plots, the plotted values are also always being calculated using area-weighted averaging.    If that is correct, this will need to be updated also.  The plot calculations sh

[2015-02-24 19:49] susburrows commented on #64
Following are some excerpts from an email discussion where we identified a strategy for determining which fields should be area-weighted vs. mass-weighted.

Here¹s my advice about how to identify the appropriate weighting to use
for different variables in the uvcmetrics code, which I have also just
discussed with Phil:
1. Each variable will have a particular weighting that is appropriate for
it, d

[2015-02-24 19:49] susburrows commented on #64
Below are the special cases that are currently coded in reconcile_units().  One class of cases deals with percents/fractions, unit less variables, etc..  In general I believe these will all be area-weighted (unless they are actually [kg]/[kg] or something like that!).  The conversion of “kg/m2/s” to “mm/day” relates to precipitation and is not a true unit conversion.  Precipitation will also be ar

[2015-02-24 19:50] susburrows opened #65 "Showstopper: Seasonal averaging across multiple years"
Our preference is that DJF seasonal average should use three consecutive months, i.e. D from previous year and JF from current year.

[2015-02-24 19:51] susburrows opened #66 "Documentation of the time averaging, interpolation and regridding methods"
Documentation of the time averaging, interpolation and regridding methods (which algorithms were used, how were weights calculated, including the name of tool, and methods used to calculate the weights (e.g. SCRIP low/high order), and once weight is calculated what tool was used to do the regridding) is needed both for the climatology script and the diagnostics scripts.  Presumably standard algori

[2015-02-24 19:51] susburrows opened #67 "processing steps recorded in netCDF history attribute?"
We would appreciate confirmation that the sequence of processing steps (essentially the command lines) for creating netCDF files are being recorded (by repeated insertion) in the history attribute of the netcdf metadata.

[2015-02-24 19:53] susburrows opened #68 "Showstopper: Missing axis labels"
Fixing the missing axis labels in many plots (numerical labels for lat/lon/height axes) is a high priority, since the plots can be difficult to interpret without axis labels.

[2015-02-24 19:53] susburrows commented on #17
I created a dedicated issues (Issue #68 ) for the missing axis labels.

[2015-02-24 20:01] painter1 commented on #65
The real issue is what to do when one of those three consecutive months isn't available.  I will try to determine what choices will produce customary results, and ensure that the choice made is written as part of the metadata.

[2015-02-24 20:06] painter1 commented on #66
The meta-issue is where to put the documentation.   Some of these things have been documented, but nobody knows where to look.  I'd like to see some opinions on this, keeping in mind that it should be convenient to both ACME and other users.

[2015-02-24 22:23] susburrows opened #69 "Standardize contour lines for each variable"
For a given variable, contour lines also need to be standardized (with an option obviously to change it for exceptional circumstances) so that they are the same between comparisons with different model runs (e.g. the same contours should be chosen when comparing Case A and B, Case B and C, and Case A and C, or Case A, B or C to observations.

[2015-02-24 22:28] susburrows opened #70 "Provenance tracking within uvcmetrics"
It is important to establish better provenance rapidly. We are aware of the following issues arising because the model is evolving rapidly, and the analysis tools are evolving rapidly:
- we are sometimes not sure how (model and observational) datasets were created, what versions of those data were employed used,
- we are not always sure where the observational datasets reside (multiple directories

[2015-02-24 22:29] susburrows opened #71 "Print RMSE in addition to mean difference"
Print RMSE above Model-Obs and Model-Model difference figures.  (in addition to mean difference)

[2015-02-24 22:30] susburrows opened #72 "Allow for uvcmetrics package to produce vector graphics"
Vector graphics (e.g., .eps) in addition to the raster .pngs. Raster images are not usually adequate for publication quality figures. Since we dont want to have to make figures twice, it is quite important that the scripts be capable of producing vector (SVG, PDF, eps, or PS) images.

The graphics format could perhaps be specified through a command-line option.

[2015-02-24 22:42] susburrows opened #73 "Horizontal plots should be made in the resolution at which the errors are calculated"
Horizontal plots should be made in the resolution at which the errors are calculated (i.e. if variables are interpolated to a coarser observational or model grid before differencing, the plot should be done at that coarser grid resolution)

The algorithm for doing the regridding for plot purposes needs to be documented. The choice of whether to plot at the lower resolution or the higher resolution

[2015-02-24 22:43] susburrows opened #74 "Error in diff plots for AMWG plot set 5, for variables with ocean mask"
In AMWG plot set 5, when a region argument is passed, there is an error in the diff plots when an ocean mask is present, where the ocean mask appears to be incorrectly applied, and the ocean is not masked out, although it should be, in vertical bands near continents.

[2015-02-24 22:44] susburrows opened #75 "Specification of arbitrary masks"
We would like the ability to be able to easily specify that a given variable should be plotted using a land/ocean mask, or an arbitrary mask file that we provide, both when calling diags.py and in amwgmaster.py.  The plots and all calculations should then be done only for the non-masked portion of the defined rectangular region.

[2015-02-24 22:46] susburrows opened #76 "unique ID for log files"
In metadiags.py: add a unique identifier (such as a datestamp) to the log/error files, so that if the diagnostics packages is run multiple times, the log files from previous runs are not overwritten

[2015-02-24 22:46] susburrows opened #77 ""region" support for polar-projection plots"

[2015-02-24 22:47] susburrows opened #78 "Text is sometimes overwritten in plot labels"

[2015-02-24 22:47] susburrows opened #79 "Limit printed values (means, RMS, max, min), etc. to reasonable number of significant digits"

[2015-02-24 22:48] susburrows opened #80 "fonts should be bigger for use in publications"

[2015-02-24 22:48] susburrows opened #81 "are we using Greek letters and superscripts / subscripts where appropriate?"

[2015-02-24 22:50] susburrows opened #82 "ability to select color tables (separately for each panel of three-panel comparisons)"
it would be nice to be able to select different color tables in three panel comparisons of case A, B, and difference fields using one color table for case A and B, and a different color table for the difference plot.

[2015-02-24 22:51] susburrows opened #83 "Suppress zero contours and use white for values surroundind zero in contour plots"
For the color bar on the difference plot (Model minus OBS) it is customary and helpful to reserve white (the lack of color) for values surrounding zero. Zero contours should be suppressed.

[2015-02-24 22:55] susburrows opened #84 "Add AMWG plot set 13"

[2015-02-24 22:55] susburrows opened #85 "Plot objects should be given meaningful names such as "zonal_mean_plot" rather than names like "AMWG_plot4""
This would make the code easier to understand (and modify).

[2015-02-24 22:58] susburrows opened #86 "Showstopper: official ACME observational data repository"
We need an official observational data repository for ACME, and datasets in this repository need to be checked/fixed for CF-compliance and functionality with metrics code.  An initial version of a repository exists on rhea, but it is currently not clear (to the atmosphere team) if someone has responsibility for maintaining it moving forward, if it has found a permanent home, etc..

- Massage all d

[2015-02-24 23:06] painter1 commented on #86
Agreed!  For the ACME project, @isubsmith and I threw all obs sets we knew of into a directory on Lustre.  Instead, we need a collection of data which (1) can be redistributed to the public without restriction, (2) is good enough to be useful to climate scientists, and (3) is a set of NetCDF files conforming to the CF Conventions, and preferably a bit more.   I would also like to see (4) has been

[2015-02-24 23:47] susburrows commented on #64
@painter1 commented: "As of the upcoming release 2.2 of UV-CDAT, the mean will default to an area-weighted average.  Mass-weighted averages for some quantities are still waiting for me."

[2015-02-25 00:00] susburrows commented on #65
That seems reasonable like a reasonable solution: use three consecutive months if possible, and other wise use JF and D from same year, and write to the metadata which choice was made.

[2015-02-25 00:13] susburrows commented on #66
I know there is a lot of documentation of the UV-CDAT capabilities, but what we are asking for is some documentation of the ACME workflow tools, i.e. what choices were made in the ACME regridder, and what choices were made in the uvcmetrics package for each calculation.  I'm not sure if that is documented anywhere at the moment.  Maybe I just don't know where to find it.  If that documentation alr

[2015-02-25 00:17] susburrows opened #87 "Improved performance of diags.py"
It would be nice if diags.py could run faster (particularly on rhea). But we think this is lower priority than ensuring that all the calculations are correct and documented.

[2015-02-25 00:17] painter1 commented on #66
I wrote messages and various times, Confluence and email, about some of these issues.  Sometimes they were correct.  It would be some effort for me to find them, though!  The basic story is that averaging and regridding methods are almost always the UV-CDAT defaults.

The questions remains of where to put documentation so that it will be found.

[2015-02-25 00:20] susburrows opened #88 "Are there good defaults for generating plot labels (that are being printed above image)?"
Review how labels are generated by default if a value has not been assigned in the code and make sure it is doing something reasonable (e.g., use variable's long_name?)

[2015-02-25 18:45] painter1 opened #89 "new options break GUI"
The new options syntax, e.g. "--model path=mypath" rather than "--path mypath" is much better for the script diags.py.  But the GUI refers to the same options object, and hasn't been updated to match the changes.  For example, the GUI still expects a path attribute to exist, and that no longer exists, except as part of something else.

The necessary changes are in diagnosticsDockWidget.py.  I just

[2015-02-26 01:42] painter1 opened #90 "Chemistry diagnostics"
Philip Cameron-Smith would like some chemistry diagnostics as in the recent version (2014-08-04) of NCAR's diagnostics.

[2015-02-26 01:53] susburrows commented on #90
This sounds like a new Tier 1b collection (https://acme-climate.atlassian.net/wiki/pages/viewpage.action?pageId=6094976).

[2015-02-26 02:10] cameronsmith1 commented on #90
I would certainly be keen for it to be tier 1b.   I had not realized until last week that it had been combined with the AMWG diagnostics.   It is currently listed on the tier 2a page (https://acme-climate.atlassian.net/wiki/display/ATM/Metrics+Activity+-+Activity+2+a)

[2015-02-26 02:19] susburrows commented on #90
Hi Philip, I think that the "2a" from the page you linked to refers to an outline of the various activities that are part of the atmosphere team's "metrics" activity.  I don't think it has anything to do with the "Tier 1a", "Tier 1b", etc. classification of diagnostic "collections".  I think you can suggest adding a Tier 1b chemistry collection.

Are you basically wanting to have a port of the WAC

[2015-02-26 02:37] cameronsmith1 commented on #90
Hi Susannah.   Yes, those are the diagnostics and plots, and many of them should be simple extensions of the existing converted AMWG diagnostic system (a few will be more interesting to code).  When they were initally listed on the tier 2a list, I wasn't aware how closely related to the AMWG  diagnostics they were,  so personally I agree with you that they should be a tier 1b diagnostic set.   I n

[2015-02-26 06:00] susburrows commented on #90
Hi Phillip, just to be sure it is clear, what I mean is that they are not on a "Tier 2a list" (there isn't a Tier 2a list -- only, somehwat confusingly, an "activity 2a", the numbering of which derives from this outline: https://acme-climate.atlassian.net/wiki/display/ATM/Atmosphere+Metrics+Activity).  There was not a decision, as far as I am aware, that the chemistry should be a Tier 2 collection

[2015-02-26 09:27] cameronsmith1 commented on #90
I agree.

[2015-03-02 17:43] isubsmith opened #91 "Progress bar or at least "Please wait" dialog for long-running metrics operations"
Several options in metrics have the potential for taking a lot of time -- running cdscan for the first time a dataset it used, doing reduction operations on non-climatology files, etc.

It would be a good idea to have an indicator that operations could take some time and pop that up while they are in progress.

[2015-03-02 17:44] isubsmith commented on #91
I guess I can only assign one person; I was goign to assign this to Jeff and I both.

[2015-03-02 17:46] isubsmith opened #92 "Add support for all datasets that support "regions" in the GUI"
"region" support was hard coded for plot sets with "REGIONAL" in their name (basically the first 2 land sets that supported regions). This needs changed to support regions in all plot sets that it makes sense to do so.

I suggest we look at the master.py dictionary to populate the list of plot sets (this would enable tier 1a/tier 1b/future similar collections) to be supported, and would provide an

[2015-03-02 18:07] painter1 commented on #84
partly done, two issues remain: (1) what to do with data which doesn't use standard ranges for isccp_tau and isccp_prs, (2) there's no attempt yet to imitate the numbers which the NCL diagnostics write on top of the histogram

[2015-03-02 18:13] painter1 commented on #87
I've sped it up by perhaps a factor of 3.  Another factor of 3 is possible.  But the big issue is understanding what is happening on Rhea, the machine where performance is a big problem.  The system seems to be imposing random slowdowns, factor of 10 or more sometimes.  They are not repeatable but happen frequently and seem to be related to opening files, especially big ones.  Probably there's con

[2015-03-02 18:20] painter1 commented on #85
Every such object has a 'name' attribute, e.g. '4 - Vertical Contour Plots Zonal Means' for class amwg_plot_set4.   So I suppose your issue is about expanding the name of each class, e.g. to amwg_plot_set4_zonal_mean_contour.  I agree that such changes would be helpful.

[2015-03-02 18:29] painter1 commented on #82
This is one of the ways one might tinker with the graphics to improve appearance, especially for publication.  In general, that sort of thing is best done in a GUI.  I think someone else has plans to write a GUI for this purpose.

[2015-03-02 18:30] isubsmith commented on #85
At some point, would it make sense to drop the NCL legacy as well? Instead of �amwg_plot_set{num}_{whatever}�, why not just call it {whatever}?

I know people are expecting the NCL legacy, but as we add more and more collections, I can see less need for the NCL legacy numbering.

Maybe initially, we change the internal structure but keep the external facing parts the same?

Thoughts?

Brian Smith

[2015-03-02 18:34] susburrows commented on #85
I actually don't think the legacy names are very helpful and would be happy to drop them.  I am not sure if anyone really wants/needs the old names.  But, I will collect some opinions from the rest of the atmosphere team.

[2015-03-02 18:36] susburrows commented on #82
I disagree -- although it might be nice to be able to look at color tables in a GUI as well, we would like to have the ability to specify the color tables within the diagnostics code, also.

But, this is a low priority issue (as you have already tagged it).

[2015-03-02 18:41] painter1 commented on #85
The name and number attributes (they're both strings by the way, '4a' is a number) are a separate issue from the class names, and whether they are used is another issue.
We have other classes which need to be renamed.  We have one kind of plot specification which doesn't have numeric values, a second kind which is all ready for VCS but before VCS is called.  The class names don't tell you that.

[2015-03-02 19:08] doutriaux1 commented on #82
I second @susburrows on that. But with @chaosphere2112 latest improvements we should be able to do both.

[2015-03-02 19:24] susburrows commented on #85
I was mostly thinking about the class names internally, but the outward facing parts might be relevant as well.

I suspect that no-one really cares about keeping the legacy names, and in fact people might be happy to have them replaced.  But, I have emailed the acme-atmos list to see if there is anyone who actually cares about this.

This is a minor issue but it would take minimal effort to make t

[2015-03-02 19:31] susburrows commented on #66
Jeff, we would like the documentation to be in an ACME Confluence page.  You can also mirror somewhere that would be convenient to non-ACME users if you like, but since Confluence is the central location for all ACME documentation, we'd like it there.  Comments on Confluence pages (or emails) are not useful as a permanent location for documentation -- the important information needs to be in an or

[2015-03-02 19:43] PeterCaldwell commented on #85
I would strongly prefer that instead of amwg_plot_set<#>_zonal_means, we switch to just calling the sets "zonal_means" (as Brian suggests). Using amwg or even set<#> in the name makes it sound like we're just trying to reproduce AMWG and begs the question "why not just use amwg diagnostics and skip UVCDAT entirely?".

More generally (and answering what I think was Susannah's original question), I

[2015-03-02 19:49] painter1 commented on #85
To change the names seen in the GUI user interface, all we have to do is to change the "name" attribute of each class - quick and easy.  Give me a list of consensus names and I'll do it.

For the script, command-line interface, there's the additional issue of conciseness.   The command line is already getting pretty big.   For this, it is probably an equally easy change (the "number" attribute), b

[2015-03-02 20:47] susburrows commented on #85
Would it be much trouble to allow either the legacy number or a new name to be provided at the command line, and to point to the same thing?

[2015-03-02 22:39] susburrows commented on #85
After feedback from the atmosphere team, it seems that the descriptive names are almost universally preferred.  There was one vote in favor of keeping the old names around as an option, so that the scripts would accept either the legacy names or descriptive ones.  I can come up with a draft list of descriptive names that we could use.

[2015-03-03 11:59] isubsmith commented on #85
It wouldn't be too hard to offer both options - a simple set number and the descriptive text - as command line options.

[2015-03-03 17:36] susburrows commented on #85
OK, let's plan to do that.  I'll come up with a draft list of names, I may not be able to do this immediately, but I have put it on my todo-list.

[2015-03-03 17:45] isubsmith commented on #85
When you are working on the set names, when possible try to minimize the number of required characters to differentiate two sets, i.e., reorganize the words a bit if you can/if it still makes sense.

All of the set names with spaces will need to be enclosed in single quotes when specified too, but thats no different than some other multi-word options.

Brian Smith
smithbe@ornl.gov<mailto:smithbe@o

[2015-03-03 17:53] susburrows commented on #85
Roger that.

[2015-03-03 20:11] painter1 opened #93 "polar plots fail if hemisphere not specified"
atmosphere plot set 7, the polar plots, requires the user to specify a hemisphere.  The user may well not know to do it, or forget.  There should be a default, used whenever the hemisphere (the aux parameter) is not specified.

You get an exception when the hemisphere/pole is not specified.  I'm labeling this "critical" because I think we should have it fixed for UV-CDAT release 2.2.

[2015-03-03 20:44] painter1 opened #94 "too many variables"
All standard_variables are listed on every variable menu in the GUI.   The user has to wade through them even if irrelevant, and if he chooses one of them when it's not supported, there will be an exception.

[2015-03-03 20:48] painter1 commented on #93
I just did another bug fix which makes this less of a problem with the GUI.  I'll push it later, but this issue is still a problem sometimes with the GUI, and just as often with the command line.

[2015-03-03 21:34] painter1 commented on #93
Plot set 12 needs this too.  Just make 'default' or None (or both) an available aux option, with a suitable meaning.

[2015-03-04 00:18] painter1 opened #95 "GUI plots are inferior"
In many cases the plots in the GUI are inferior to those obtained by the command line.  There is a lot of special-casing of templates and graphics options in diags.py and amwg_plotting.py which doesn't appear in the GUI.

This should be fixed only after diags.py is cleaned up and all the special-casing is transferred to other files so that it is equally accessible from the GUI.

[2015-03-04 19:47] painter1 opened #96 "atmos plot set 12 in GUI"
I can't get a visible plot for plot set 12 in the GUI.  There are no error messages, and it works in the command-line.  And it uses scatter and line plots, which work in other plot sets.  So I have no clue about what's wrong, or even who's the best person to work on it.  Jim, you're on first!

I don't think this can be done for UV-CDAT release 2.2.

[2015-03-04 20:49] painter1 opened #97 "climos button"
The new "climos" button needs some more work, as I would expect of any new feature, especially when added in a hurry.

Most important, it doesn't work well under this normal usage pattern:
1. Click on "Set Path"
2. Browse for the model data directory, deciding what to do as you go.  Take note of what files have been chosen.
3. Click on the "Climos" button.
The problem seems to be that clicking on

[2015-03-04 23:01] mcenerney1 opened #98 "AMWG fatal error in uvcdat"
When trying to set the path in the latest uvcdat  gui, I get the following error

Traceback (most recent call last):
  File "/usr/local/uvcdat/03_04_2015/vistrails/vistrails/gui/uvcdat/diagnosticsDockWidget.py", line 260, in setDS1Path
    if len(self.opts._opts['model']) == 0:
KeyError: 'model'

[2015-03-05 01:29] painter1 opened #99 "atmos plot set 14 end cases"
There is at least one case where plot set 14 needs more work - an exception is thrown if there be no obs.  There may be other, similar, end cases.

[2015-03-05 01:31] painter1 opened #100 "atmos plot set 15 GUI"
The GUI doesn't draw plots for the same problem which is successful with the command-line, in atmosphere plot set 15.  There are error messages about not being able to find or compute variables.

[2015-03-05 01:37] painter1 commented on #89
Brian fixed it.  I've done a lot of testing, and it works well.

[2015-03-05 01:37] #89 closed

[2015-03-05 11:49] isubsmith commented on #98
Make sure you grab the UVCDAT 89 bug fixes. They are in the latest vistrails branch.

Brian Smith
smithbe@ornl.gov<mailto:smithbe@ornl.gov>

On Mar 4, 2015, at 6:01 PM, James McEnerney <notifications@github.com<mailto:notifications@github.com>> wrote:

When trying to set the path in the latest uvcdat gui, I get the following error

Traceback (most recent call last):
File "/usr/local/uvcdat/03_04_2

[2015-03-05 13:53] isubsmith commented on #97
All the climos button is doing is toggling the state of the �climos� field for that particular �model� in the Options object. There is one print to tell the state of it when you initially select a dataset (primarily for initial verification) but the DS1/2climosChanged() functions do not print anything. However, I verified the code is there and works as intended when passed to diagnostics calls. Sh

[2015-03-05 16:07] mcenerney1 commented on #99
In general I need to do bullettproofing and beautification.

[2015-03-05 18:31] painter1 commented on #98
This is fundamentally a build system bug, and one which we will see again.
The workaround is easy enough so that I've labeled this issue a "won't fix" bug, and will close it.

The problem comes from how the diagnostics files are included in the UV-CDAT distribution.  The file dates are more recent than the actual dates of the last commit.  Maybe they are the dates that they were made available to

[2015-03-05 18:31] #98 closed

[2015-03-05 18:35] painter1 commented on #98
BTW, deleting the contents of .../site-packages/metrics/ is now part of my standard procedure for building a new UV-CDAT.  It's not necessary for someone who is satisfied with the diagnostics version that comes with the UV-CDAT distribution.

[2015-03-05 18:51] painter1 commented on #97
1. My perception that the Climos button wasn't doing anything stand-alone was probably wrong.  It came from the fact that there was a print statement for the "Set Path" button but not the "Climos" button.  The solution is to delete the print statement, which should be done anyway.   I've done that in my copy but won't push it to the repository unless I have something more substantive to push.

2.

[2015-03-05 18:53] isubsmith commented on #97
Does your copy without the prints include the small patch I sent over earlier too? If so, there might be enough there to justify pushing. There is some code hardening user input in the patch I sent earlier.

That sounds like a very odd GUI issue. I was wondering where 'untitled' was coming from.

________________________________
From: Jeffrey Painter <notifications@github.com>
Sent: Thursday, Marc

[2015-03-05 18:54] painter1 commented on #97
Actually I've already pushed a version with your patch.

[2015-03-05 18:55] isubsmith commented on #97
?Ah, ok.

Then yeah, deleting the print is probably not worth another pull request.

________________________________
From: Jeffrey Painter <notifications@github.com>
Sent: Thursday, March 05, 2015 1:54 PM
To: UV-CDAT/uvcmetrics
Cc: Smith, Brian E.
Subject: Re: [uvcmetrics] climos button (#97)

Actually I've already pushed a version with your patch.

-
Reply to this email directly or view it on Gi

[2015-03-05 20:03] doutriaux1 commented on #98
i think we could add a to the build setup to pull vistrails everytime we do setup.py install. it shouldn't be too hard

[2015-03-05 20:03] doutriaux1 commented on #98
creating a new issue for this

[2015-03-05 20:04] doutriaux1 opened #101 "setup.py should also update vistrails branch if needed"
sometimes bug fixes are in vistrails branch not in this repo.

[2015-03-05 20:19] isubsmith commented on #101
I *think* this ended up being a uvcmetrics issue. The problem is setup.py in uvcmetrics doesn't necessarily delete/replace/update all of the files in {uvcdat directory}site-packages/metrics. It's fine if you build uvcdat and get a good version of metrics; it isn't fine if you are a developer working with uvcmetrics.

________________________________
From: Charles Doutriaux <notifications@github.co

[2015-03-05 20:46] doutriaux1 commented on #101
Yes but @painter1 closed it. The title wasn't specific so I created a new one just for this

[2015-03-09 23:54] painter1 commented on #93
I put a default into plot set 12.   While at it, I changed the name used in the GUI to indicate that it doesn't work with the GUI.  This is because it represents plots with tuples, as with my atmos plot set 7.  I'll introduce a separate issue about that.

[2015-03-09 23:58] painter1 opened #102 "plots shouldn't be represented with tuples"
When we had an urgent need to support vector plots (atmosphere plot set 7) I used tuples to represent the vectors.  Something similar is not in atmos set 12.  Unfortunately, this is an awkward data structure because it doesn't have the machinery we need to handle plots.  So we need lots of special-case code to handle them.  Such code isn't, and shouldn't be, in the GUI.

We need to replace these t

[2015-03-11 23:51] painter1 commented on #86
Creating the official ACME obs repo is a big task, requires many people, and hasn't even gotten started.  As an interim solution, some of us should create an un-offical non-ACME obs repo.   Also, the documentation may as well include NCAR's instructions for getting their obs sets:
  svn export https://svn-ccsm-release.cgd.ucar.edu/model_diagnostics/atm/cam/obs_data_20140804/

[2015-03-12 04:19] susburrows commented on #86
Hi Jeff, I guess the unofficial interim solution is the directory you and Brian set up on rhea.  Thanks for adding the svn instructions here.

[2015-03-12 14:37] doutriaux1 commented on #86
@painter1 you should talk to @gleckler1 and @durack1 pcmdi is way ahead of acme on this.

[2015-03-12 16:41] painter1 commented on #64
Susannah, could you comment on whether your units-based scheme for identifying what variables need mass weighting, was conceived in terms of atmosphere only?  Or do you think it is equally applicable to other realms?

[2015-03-12 17:56] susburrows commented on #64
Jeff, I was only thinking about the atmosphere.  You should probably get feedback from the other groups on what their conventions for averaging are.  My guess is that this is likely to be much less of an issue for the other groups, since water, land, and ice are essentially incompressible compared to air, although in the ocean I think there might be similar issues related to the vertical coordinat

[2015-03-12 22:33] mcenerney1 commented on #93
Plot set 7 now crashes from the command line.  If I run
diags.py --outputdir $HOME/Documents/Climatology/ClimateData/diagout/ --model path=$HOME/uvcmetrics_test_data/cam_output/,climos=yes --obs path=$HOME/uvcmetrics_test_data/obs_atmos/,filter='f_startswith("c_t_NCEP")',climos=yes --package AMWG --sets 7 --seasons ANN --vars T --plots yes --varopts = ' Northern Hemisphere'
I get: TypeError: 'None

[2015-03-12 22:42] painter1 commented on #93
amwg_plot_spec_vcs_plot does hardly anything but call canvas.plot.   But make sure that you have the latest version.   The latest version cleans out an internal keyword argument which will confuse VCS.  This may be what your problem is.

[2015-03-13 16:15] mcenerney1 commented on #93
Yes I have the right version. I see where it cleans out compoundplot.  The problem persists.
I'll continue debugging and try to isolate it better.

[2015-03-13 21:44] mcenerney1 commented on #93
I'm not seeing why it's failing.  I'll bring in Charles on monday!

[2015-03-16 16:51] mcenerney1 commented on #93
Create a default as Jeff did for plot set 12.

[2015-03-16 21:06] mcenerney1 commented on #100
I was able to run gui and command line successfully for
diags.py --model path=$HOME/uvcmetrics_test_data/cam35_data/,climos=yes --obs path=$HOME/uvcmetrics_test_data/obs_data/,filter='f_startswith("NCEP")',climos=yes --outputdir $HOME/Documents/Climatology/ClimateData/diagout/ --package AMWG --sets 15 --seasons ANN --plots yes --vars T

[2015-03-16 23:41] painter1 commented on #84
Issue (1) is finished.  The only way (to my knowledge) that ranges can be nonstandard is if one of the standard categories (e.g. low clouds 100mb-800mb) were split into finer categories.  I added functions to lump them together into the standard ones, as well as to check that everything about the axes is as expected.

Remaining to do: the numbers written on top of the histogram.

[2015-03-17 22:38] mcenerney1 opened #103 "Generate command line input"
This is more a request. Running from gui should output a syntactically correct command that produces the same output from the command line as from the gui.  Conversely, a command line script should be input into the gui and the result is that everything is setup to run from the gui and produces the same output as the command line script.

[2015-03-18 18:10] mcenerney1 opened #104 "Taylor diagrams (plot set 14)"
Running from the gui, Taylor diagrams fail, since the presentation has no datawc_x1, etc.

Traceback (most recent call last):
  File "/usr/local/uvcdat/03_04_2015/vistrails/vistrails/gui/uvcdat/diagnosticsDockWidget.py", line 626, in buttonClicked
    self.applyClicked()
  File "/usr/local/uvcdat/03_04_2015/vistrails/vistrails/gui/uvcdat/diagnosticsDockWidget.py", line 743, in applyClicked
    sel

[2015-03-19 18:09] painter1 commented on #104
The error is in diagnostic code.  But the attributes datawc_x1, etc. should always be set.  I'll make sure that they default to None and push the bugfix later today.

[2015-03-19 18:11] doutriaux1 commented on #104
@painter1 taylordiagram does NOT have such attributes.

[2015-03-19 18:12] doutriaux1 commented on #104
[code]

[2015-03-19 18:23] painter1 commented on #104
Those attributes would make no sense in a Taylor diagram.  The place where they should default to None is not in a VCS object.  It's in a uvc_simple_plotspec object of the diagnostics package.  They make no sense there in this case either, but it will simplify overall coding if they always exist.  "None" was invented for this sort of situation.

[2015-03-19 18:36] doutriaux1 commented on #104
I see. Thanks

[2015-03-19 19:03] painter1 commented on #104
I was wrong, I hadn't looked at the uvcdat.py code well enough.   The fix has to be made in the print statements, and I've done it.  You'll see a VisTrails pull request soon.  Taylor diagrams still don't work, but that's a different issue.

[2015-03-19 19:03] #104 closed

[2015-03-20 18:30] mcenerney1 opened #105 "Pacific annual cycle scatter plot (#11)"
This plot is works from the command line but it does not work in the gui for reasons that are similar to plot set 12.  There is a possible reimplementation that would resolve this, under consideration.

[2015-03-23 18:47] susburrows opened #106 "Feature request: allow use of arbitrary masks to define regions"
Not a high priority right now, but I wanted to put it on the list as something to consider for later.

[2015-03-23 18:48] susburrows opened #107 "Feature request: allow providing data on unstructured grids"
Would e handy for in situ observational data (point data).  Not a high priority, but I wanted to get it on the list of possible future features.

[2015-03-24 21:09] doutriaux1 opened #108 "debug message printed to screen"
when runnnig uvcdat GUI I see the following message that should probably be taken off

[code]

[2015-04-01 23:11] susburrows opened #111 "Feature request: add SURF_WIND derived variable (vector of UBOT, VBOT)"

[2015-04-01 23:28] painter1 commented on #111
Is this for a vector-contour plot, aka plot set 6?  Probably this should wait until I have a chance to redo the data structure.  The present one (just a tuple) doesn't work well with everything else.

[2015-04-01 23:39] susburrows commented on #111
Hi Jeff, yes, I think a vector-contour plot would be appropriate.

Also, I should say that this is really a low priority, and I think there are probably much better approaches available than what can be quickly done in the present code.  I really just wanted to have this on the list before I forget; it is something we might consider doing later if it becomes more important or if we have extra time

[2015-04-28 20:21] painter1 opened #115 "GUI fails if only one obs set"
The GUI method prepareObs1() (in diagnosticsDockWidget.py) expects to see a dictionary self.obs1_menu.  But in fact obs1_menu could have one of three types: (1) a dictionary if more than one obs set is available (in the specified directory tree) and one of them must be chosen, (2) True if exactly one obs set is available and nothing has to be done, (3) None if no suitable data is available.

Proba

[2015-04-28 20:24] painter1 opened #116 "reconcile_units for bad data with no units"
When a variable without a units attribute is sent to reconcile_units() (in reductions.py), it is assigned units of '1'.  Without any context that is the best we can do.  But in this function we have context - the other variable.  More often than not, if the other variable has units, the best choice will be to copy them to the unitless variable.  Whatever we do about it, if will frequently be wrong

[2015-05-01 18:13] painter1 opened #118 "default obs sets"
Peter Caldwell said that sometimes he doesn't want to think about which observational data set to compare against, he just wants something reasonable.  Probably many other users will feel the same, part of the time.

To supply this need, every plot set should come with a default obs set.  This should be used if nothing else is specified.   The default would be subject to change as we learn more.

[2015-05-01 18:15] susburrows commented on #118
This is a good idea.

[2015-05-04 15:52] mcenerney1 opened #119 "Test"
test @

[2015-05-04 15:52] #119 closed

[2015-05-07 01:19] susburrows commented on #107
Relatedly, we also need a strategy for handling the ACME native grid.

[2015-05-07 01:21] susburrows commented on #86
Just updating this to note that a discussion on this is ongoing in Confluence:
https://acme-climate.atlassian.net/wiki/display/WORKFLOW/Requirements+for+Observational+Datasets+to+be+used+for+ACME+science

[2015-05-07 05:14] doutriaux1 commented on #107
@susburrows @painter1 somewhere in UV-CDAT there is a package to compute Zonal Means on native grids. I think it needs the grid cell area as an input. The package is called ZonalMean @painter1 let's take a look next week that might be worth something.

[2015-05-11 23:01] susburrows commented on #107
Thanks, Charles, that sounds useful.

[2015-05-14 21:20] susburrows opened #120 "Meaningful names for plot types and collections when calling metadiags.py and diags.py"
We would like to replace the names like "set1" with meaningful names that are easier to understand and remember.  I had promised to draft a list of descriptive names that we could use.  I have now done this (I added them on this page in Confluence: https://acme-climate.atlassian.net/wiki/display/WORKFLOW/Diagnostic+Specifications)

My recommendation would be to replace the numbers identifying plot

[2015-05-14 21:25] susburrows commented on #85
Oops, I created a new issue ( #120 ) before realizing that we already had an open issue for this.

I finally had some time and added a draft list of names in Confluence, where I have asked for feedback:
https://acme-climate.atlassian.net/wiki/display/WORKFLOW/Diagnostic+Specifications

I tried to be fairly concise while still maintaining clarity, but it might be possible to make the names even mor

[2015-05-20 18:16] susburrows commented on #85
I received feedback from Phil Rasch and updated the list accordingly. These names can be implemented when the workflow team is ready to do so (but it is not a high priority, we would like the "showstoppers" to be addressed first).

[2015-05-21 20:12] mcenerney1 commented on #96
This is solved, it's in the devel branch.

[2015-05-21 20:12] #96 closed

[2015-05-21 20:22] #100 closed

[2015-05-21 23:58] susburrows commented on #86
I have migrated copies of all the datasets we had in obs_data into the ACME inputdata repository, which I believe could become a permanent home:
https://acme-svn2.ornl.gov/acme-repo/acme/obs_for_diagnostics/

[2015-05-22 00:01] susburrows commented on #86
I think the next step is for us to identify an individual who will take responsibility for being a gatekeeper for new datasets to be submitted to the repository.

[2015-05-22 05:58] susburrows commented on #87
Hi Jeff, I just noticed your update here.  Thanks for the 3x speed-up. :)  I think we maybe need to revisit whether rhea is really a good platform for analysis.  diags.py runs at an acceptable speed on our cascade machine at PNNL.

[2015-05-22 11:23] isubsmith commented on #87
I missed this update as well. Did any of the changes make it to diags-new.py?

Can we please focus efforts on the newer code otherwise metadiags will not work.

Brian Smith
smithbe@ornl.gov<mailto:smithbe@ornl.gov>

On Mar 2, 2015, at 1:13 PM, Jeffrey Painter <notifications@github.com<mailto:notifications@github.com>> wrote:

I've sped it up by perhaps a factor of 3. Another factor of 3 is possibl

[2015-05-22 11:33] isubsmith commented on #87
Well, actually it looks like I might have already seen the code changes and attempted to integrate most of them in diags-new.py.

But it’s hard to say if I got them all.

The next time I push to devel, I plan on renaming diags.py to diags-old.py and diags-new.py to diags.py.

Brian Smith
smithbe@ornl.gov<mailto:smithbe@ornl.gov>

On Mar 2, 2015, at 1:13 PM, Jeffrey Painter <notifications@github.co

[2015-05-22 16:24] painter1 commented on #87
I'm sorry, I must not have read the issue very well.  The thing I sped up was not diags.py.  It was the UV-CDAT climatology() function.  Therefore climatology.py is the user-level script which I sped up by a factor of three.

Diags.py encompasses many different types of calculations, so there's essentially no such thing as an overall speedup.   It happens that it also calls climatology() for time

[2015-05-22 17:39] painter1 commented on #86
This supplies all the obs sets which are built in to the present diagnostics, so I am closing this issue.

In the future we will have to find a way to supply obs sets to non-ACME users, and a way to automatically download the data.  But those are different projects.

[2015-05-22 17:39] #86 closed

[2015-05-22 20:23] susburrows commented on #87
OK, thanks for the clarifications.  I think we can revisit this issue at a later date, and at some point we might want to specify "speed up Tier 1a calculations" or something like that.  Right now this is lower priority than other issues, as I indicated in the first comment at the top of the page.

[2015-05-26 21:21] painter1 opened #121 "match model & obs longitude"
Sometimes we run into comparisons where model longitude runs from 0 to 360 degrees and obs longitude runs from -180 to 180 degrees.  The diagnostics does something reasonable for the difference.  Even so, these plots are all supposed to be viewed side-by-side, so longitude should be shifted so that they all have the same range.  This shouldn't be any harder to do than the present system of making

[2015-05-27 16:37] mcenerney1 commented on #105
This was solved with changes to diagnosticsDockWidget.

[2015-05-27 16:37] #105 closed

[2015-05-27 16:44] painter1 commented on #102
The vector plots I had in mind were plot set 6, not 7.

[2015-05-27 17:16] mcenerney1 commented on #102
With the pull request in UV-CDAT/VisTrails, branch plot_spec_6, this capability is available for Scatter plots and Vector plots.

[2015-05-27 17:16] #102 closed

[2015-05-27 18:05] mcenerney1 commented on #39
Works with NCEP obs data and cam35_data.

[2015-05-27 18:05] #39 closed

[2015-05-27 18:10] mcenerney1 commented on #25
These have been tested more recently and work.

[2015-05-27 18:10] #25 closed

[2015-05-27 18:16] mcenerney1 commented on #93
This has been resolved.

[2015-05-27 18:16] #93 closed

[2015-05-27 18:24] susburrows commented on #64
Phil R. commented: "Hi All, please note that Charlie Zender is suggesting (at https://acme-climate.atlassian.net/wiki/display/ATM/Regridding+-+v0.3+AMIP+runs?focusedCommentId=25231699#comment-25231699) that our scripts use an "area" variable for all area weighting, rather than deriving the area from "lat_bnds", "lon_bnds". Please be sure to comment on this if you have an opinion"

[2015-05-27 18:24] susburrows commented on #64
sorry, pressed the "close issue" button by accident.

[2015-05-27 18:48] mcenerney1 commented on #12
This seems to no longer be a problem.

[2015-05-27 18:48] #12 closed

[2015-05-27 18:50] mcenerney1 commented on #4
This seems to no longer be an issue.

[2015-05-27 18:50] #4 closed

[2015-05-27 18:51] mcenerney1 commented on #1
This is no longer an issue.

[2015-05-27 18:51] #1 closed

[2015-05-27 22:32] cameronsmith1 commented on #64
Adding to the comment from Phil R.  I assume that an Area variable will almost certainly be needed when the diagnostics move to non-lat-lon grids, so it will need to be implented sooner of later.

[2015-05-28 18:20] mcenerney1 opened #122 "Stale filter when changing obs directory in gui"
In the gui if the user selects an obs directory and a filter followed by changing the obs directory which does not have any files that satisfy the filter, then the gui crashes, i.e. the filter is stale and need to be cleared.  I'll take a look at what's happening.

[2015-06-05 18:13] mcenerney1 commented on #122
A fix has been identified in diagnosticDockWidget, awaiting a pull request.

[2015-06-08 18:48] susburrows opened #125 "Plot labels: "None" is being printed above plots, should be data set name (?)"
In the upper left, above the plots, the word "None" is being printed; above difference plots, it says "None,None".  I'm seeing this behavior in a few different versions of the uvcmetrics code.  I think it intended that this field would display the model or observational data set name.

[2015-06-15 15:36] mcenerney1 commented on #122
This problem has been solved.

[2015-06-15 15:36] #122 closed

[2015-07-01 18:33] painter1 commented on #65
I am closing this issue because it pertains to climatology.py, which is falling into disuse.  In climatology2.py, the choice of which data to use is entirely under user control.  Whatever you want it to do, it will do.  It needs a simpler user interface, but that's a different issue.

[2015-07-01 18:33] #65 closed

[2015-07-01 22:58] painter1 commented on #64
1. re mass weighting: I looked at some sample CAM and ACME output and couldn't find any variables which could be used to compute mass or density of the air or anything else.  Did I miss something?  Or will that become available in the future?
2. re Area variable: I would like to implement it when available, meaning something which I can test on.  If that happens, please let me know.

[2015-07-10 19:02] susburrows commented on #64
Hi Jeff,

Sorry, I’ve been on travel for two weeks and am having a really hard time keeping up with email.  I’ll follow back when I am in the office next week.

-- Susannah

From: Jeffrey Painter <notifications@github.com<mailto:notifications@github.com>>
Reply-To: UV-CDAT/uvcmetrics <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Wednesday, July 1, 2015 at 11:58 PM
To: UV-CDAT/uvcme

[2015-07-17 23:08] susburrows commented on #64
Hi Jeff,

Sorry it has taken me a while to respond to this, I have had a somewhat hectic week.  The air mass density has to be calculated from other fields in the model output.  Here’s the method we would prefer be used for that:

First, calculate the pressure at the model level interfaces:
pressure_int = hyai*P0 + hybi*PS

Then calculate the pressure difference between the interfaces:
assume I,J,

[2015-07-17 23:56] susburrows commented on #64
Just to be very careful, I will note there is a tiny error in one of the equations Susannah sent on. The equals sign before the last “pint” string should be a minus sign, e.g. Variable dp is the difference between pint at interface K+1 and interface K.

Phil

--
Phil Rasch
Pacific Northwest National Laboratory
902 Battelle Boulevard
P. O. Box 999, MSIN K9-34
Richland, WA, 99352
Phone (509)372-4464

[2015-10-12 20:25] doutriaux1 commented on #68
@susburrows @painter1 I'm going to take a look at this. Can you please provide an example on how to reproduce this (command line args). Thx.

[2015-10-12 21:01] susburrows commented on #68
metadiags.py --package amwg --model /dtemp/burr114/climos/famipc5_ne30_v0.3_ens_latlon --obspath /home/burr114/obs_data --outpath /dtemp/burr114/diags/famipc5_ne30_v0.3_ens_latlon_uvcdat_v2.2_uvcmetrics-devel --hostname acme-dev-2.ornl.gov --dsname famipc5_ne30_v0.3_ens_latlon --colls topten

(obviously the paths may need to be adjusted)

[2015-10-12 21:12] doutriaux1 commented on #68
thx! That should do it.

[2015-10-12 21:50] doutriaux1 commented on #68
@painter1 also posted:
[code]

[2015-10-12 23:03] doutriaux1 commented on #68
good news on my system i can reproduce with:
[code]
![set5_global_ann_t-combined](https://cloud.githubusercontent.com/assets/2781425/10441163/be59edca-70fa-11e5-8cf5-0627aee71ffb.png)

[2015-10-12 23:33] doutriaux1 commented on #68
@susburrows would the following be ok?
![set5_global_ann_t-combined](https://cloud.githubusercontent.com/assets/2781425/10441549/021a73a0-70ff-11e5-93cb-dd88a1efeba5.png)

[2015-10-12 23:34] susburrows commented on #68
Glad to hear you could reproduce the issue.  I hope it is easy to resolve.

[2015-10-12 23:41] doutriaux1 commented on #68
@susburrows it's easy to fix, would the pix above work for you?

[2015-10-12 23:52] susburrows commented on #68
Thanks Charles, that's great that it is easy to fix.  Could you also add axis labels (lat/lon)?  Also, I'm not sure if labels are present or not on all the other plots (other than set5), I'd have to check.

[2015-10-13 00:38] doutriaux1 commented on #68
will do, should I add the xaxis label (longitude) on all 3 plots or only the last one?

[2015-10-13 00:43] susburrows commented on #68
Thanks!  Well, the package produces individual plots as well as panel plots.  I think the (lat/lon) labels should appear on each of the individual plots.  On the panel plots, it would be ok if the xaxis label is only on the last one, as you suggest, since they all have the same axis.

[2015-10-13 00:55] susburrows commented on #69
I'm also sometimes still having issues where the contours are not consistent between the panels of a plot, for instance in this example from my Southern Ocean collection:
![setso_ann_stress_ers_s_extratropics-combined](https://cloud.githubusercontent.com/assets/6811403/10442770/7b2ab880-710a-11e5-9d65-fb5242260075.png)

[2015-10-13 01:24] doutriaux1 commented on #69
@painter1 looks like you guys are letting vas picks the contours, at the very least @susburrows is right you should have an option to `lock` the counter for all 3 plus (or top 2 in case 3 is a diff)

[2015-10-13 01:42] doutriaux1 commented on #68
@susburrows @painter1 would you mind building off the `issue_68_missing_axes_labels` branch and let me know if that looks better and/or if I broke something else. Thx.

[2015-10-14 21:09] painter1 commented on #125
The problem was with a new (in March) feature for the user to supply a name for the data set.  If not supplied, it is None.  And this propagates through the system.  I changed a line of code so that it wouldn't propagate; if no name is supplied, you get the same names as before.

[2015-10-14 21:09] #125 closed

[2015-10-14 21:21] susburrows commented on #125
Hi Jeff, thanks for working on this.  Is the fix for this available on the devel branch, so I can cross-check that it also works for me?

Also, can you clarify what you mean by "the same names as before"?  I typically call diags.py through the metadiags.py interface, and I assume the dataset names should be the same as the model name that I provide when calling it, and the observational dataset na

[2015-10-14 21:24] susburrows commented on #36
I think this is fixed now.

[2015-10-14 21:24] painter1 commented on #125
It is fixed on the devel branch.
"The same names as before" means what was done before there was an option for the user to supply data set names.  These generally are derived from file names.  I tested with diags.py, not metadiags.py.  If you supplied a name to metadiags and it didn't make it all the way through to the output, then we'll have to treat that as a different issue, probably for Brian

[2015-10-14 22:21] susburrows commented on #125
Thanks, @painter1 !  I'll test the fix and let you know if I encounter any issues.

[2015-10-15 20:54] susburrows commented on #68
Hi @doutriaux1 , thanks for working on this.  It is not entirely working for me right now.
I'm using the most recent version of the issue_68_missing_axes_labels branch
(ca1f6744c2ce9831a6a9241bb2efd2ff39699c9b), and I'm running on cascade, using UV-CDAT 2.2 (with your branch of uvcmetrics).

One issue I am seeing is that on the Set3 plots, the vertical axis has no label (I think it should be the n

[2015-10-15 21:00] susburrows commented on #68
So, In the set5 plots (for the tier1b_so collection), on the individual plots, I'm getting axis (lat/lon) labels for the individual plots, but no tick marks.  In the combined plot, there are no labels or tick marks.

I'm not sure if this is specific to the tier1b_so collection, or to plots with regional selection perhaps.  I'll try the topten collection also.

![settier1b_so_ann_swcf_ceres-ebaf_s_

[2015-10-15 21:19] susburrows commented on #68
@doutriaux1 , I still get similar results for the global plots in the topten collection, which I called through metadiags.py (which calls diags-new.py).  Are you getting different results when you run the package?

![settopten_ann_lwcf_ceres-ebaf__global-model-and-obs](https://cloud.githubusercontent.com/assets/6811403/10527825/7972a536-7347-11e5-93a0-84cd3838a1eb.png)
![settopten_ann_prect_gpcp_g

[2015-10-16 16:55] doutriaux1 commented on #68
@susburrows I talked about this with @williams13 in some cases it was originally required that the plots be EXACTLY as AMWG and apparently AMWG did not have ticks. So we have some "DUD" templates with evrything off. I will double check when we actually use these. Because the "DUD" templates are really meant to be such, I did not turned back ticks on these. @painter1 do you know if there's is a fla

[2015-10-16 17:34] painter1 commented on #68
No, I don't know of any flag to switch between tic marks and not, or anything more general such as "exactly like AMWG" or not.

[2015-10-16 17:41] susburrows commented on #68
So the question this raises for me is, where did the requirement that it be "exactly like AMWG" (even where AMWG is suboptimal) come from?  And, could it be relaxed at this point?

[2015-10-16 17:44] doutriaux1 commented on #68
ask @williams13 and @painter1 they were in charge then.

[2015-10-16 17:54] williams13 commented on #68
@painter1 is the lead of diagnostics. His call.

From: Charles Doutriaux <notifications@github.com<mailto:notifications@github.com>>
Reply-To: UV-CDAT/uvcmetrics <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Friday, October 16, 2015 at 10:44 AM
To: UV-CDAT/uvcmetrics <uvcmetrics@noreply.github.com<mailto:uvcmetrics@noreply.github.com>>
Cc: Dean Williams <williams13@llnl.gov<mailto:

[2015-10-16 18:04] painter1 commented on #68
The original "exactly like AMWG" goal was motivated by the feeling that many users are extremely conservative and couldn't accept anything which didn't look familiar.  But even at the beginning, "exactly like AMWG" only applied to superficial things like the presence of tic marks.  On issues of features, capabilities, flexibility, code structure, and correctness our goals have always been to diffe

[2015-10-16 23:04] doutriaux1 commented on #68
@painter1 when running @susburrows command line I get:
[code]
Any suggestion?

[2015-10-16 23:09] doutriaux1 commented on #68
@painter1 canI sit with you on this on Monday? It will be faster, you know where everything is set in diags/diags_new_metadiag and I know how to fix things.

[2015-10-16 23:13] painter1 commented on #68
I'm available for that, of course.  But Brian, not me, wrote metadiags.  In fact, I have never run metadiags!  Your problem is simply that Brian changed the metadiags syntax.  The new syntax for paths looks like
--model path=<path-to-model>,climos=yes --obs path=<path-to-obs>,climos=yes --outputdir <outputdir>
See the ACME Confluence page on plot labels, where Brian says that he made a change:
htt

[2015-10-16 23:21] doutriaux1 commented on #68
thx @painter1 I'm getting passed this now. Will probably still need to sit with you on monday though.

[2015-10-16 23:28] doutriaux1 opened #128 "metadiag issues"
running (most errors are likely due to my test-data being bad)
[code]
i get
[code]
THe file ` /Users/doutriaux1/diags_out/DIAGS_OUTPUT.log` is empty

[2016-01-06 18:25] aashish24 opened #133 "Setup testing infrastructure for metrics"
@aashish24 and @doutriaux1 will work on this.

[2016-01-06 18:38] doutriaux1 commented on #133
yes. Essentially moving ctests to this repo, create a dedicated baseline repo (???).
setup bots to run test suite using a dedicated uvcdat (to speed up test time)

[2016-01-06 18:41] aashish24 opened #134 "Update README.txt to include link to ACME confluence page"
@isubsmith ?

[2016-01-06 19:26] susburrows commented on #133
awesome! :)

[2016-01-08 00:51] painter1 commented on #64
Susannah,
Your rhodz works well for weighting a variable which lives in the layers, i.e. between the levels where pressure levels are defined.  Logically that's a good place for a variable like temperature which belongs to matter.  What if the variable lives at the levels?   I see that in obs data, for temperature, e.g.  I can see arbitrarily assigning mass to the nearest level, or extrapolating t

[2016-01-08 17:52] susburrows commented on #64
Hi Jeff, I think it should work for model data, but I take your point that it might not be generalizable to obs data.  Another complication is that obs data might also have different kinds of vertical levels, e.g., pressure or altitude levels instead of hybrid levels, or hybrid levels that are defined according to a different scheme.

Do you have a good example of obs data where a variable of inte

[2016-01-08 18:03] painter1 commented on #64
Of course different data sources have different kinds of level axes.  Part of what the diagnostics package is about, is converting axes, changing units, regridding, etc., so that different data sets may be compared.  To plot a comparison of CAM model output with obs data, we convert hybrid levels to pressure levels, interpolate levels to the obs grid (which is normally coarser), and plot with pres

[2016-01-08 18:10] susburrows commented on #64
Thanks!  Let me think about this and get back to you.

[2016-01-14 21:54] susburrows commented on #64
Hi Jeff, I've looked at more of the obs that have a vertical dimension, and it seems that most if not all of them have been interpolated to pressure levels.  (Hopefully they are really all on pressure levels, then there are fewer cases to deal with..)

After talking this over with Phil, our recommendation for the time being is to simply assume that the interfaces for the pressure levels are locate

[2016-01-16 00:19] painter1 commented on #64
That's almost the simplest possibility, and may well be good enough for the horizontal averages this is used for.  I'll try it.

[2016-01-18 17:58] susburrows commented on #64
Thanks Jeff.

[2016-01-25 21:35] painter1 commented on #64
This interpolation/extrapolation runs and looks reasonable, but I plan to look more closely.  I don't know how to get the model top from ACME data, but the bottom is usually available as PS.

The answer to your last question, Susannah, is log-linear.  Here's the relevant line, from vertical.py (in the diagnostics; the interpolation function is in cdutil.vertical.py):
    newT = cdutil.vertical.log

[2016-01-25 22:31] susburrows commented on #64
Thanks!

[2016-01-25 22:44] cameronsmith1 commented on #64
Hi @painter1 , the model top has to be calculated using the vertical grid formula, which is easy but inconvenient.

[2016-01-25 22:46] painter1 commented on #64
What is the "vertical grid formula"?

[2016-01-25 22:48] susburrows commented on #64
I think Philip means this equation:
pressure_int = hyai*P0 + hybi*PS

[2016-01-25 22:53] cameronsmith1 commented on #64
Yes,  that is the one (thanks @susburrows ).   At the top of the model, it is often the case that either hyai or hybi is zero, which can simplify the process, but in general one needs to calculate the whole thing.  Note that there are ways to do this using NCO that are pretty easy, and of course it can be done in CDAT.

[2016-01-25 23:22] painter1 commented on #64
Now I'm wondering whether the specified "model top" is really the right thing to use.   I misled everyone, I think, when writing "ACME data"; but maybe not because "model top" isn't my term.  The issue here is obs files, and the hybrid levels come from the model data.  Is it really ok to use the model top to find the right mass for averaging the obs data?

[2016-01-25 23:28] susburrows commented on #64
Ok, sorry about the confusion.  This is a good question.  I think that it doesn't make sense to compare the model and obs above the model top, so that should be the maximum upper limit for the top level (lowest pressure) to be compared.  But if the obs data's vertical grid ends below the model data's vertical grid, then we need a different rule.  I think in this case we should just use the rule "e

[2016-01-26 00:31] painter1 commented on #64
OK, here's my interpretation.  Recall that we are averaging a quantity, say T, defined at obs levels.  To get mass for horizontal averages, we want to bracket each obs level with a pair of new levels.  And the issue is how to choose the new level above the top obs level (i.e., lower pressure than the top obs level).  There are three cases:

1. top obs level is substantially below top model level,

[2016-02-04 01:04] painter1 commented on #64
I merged my massweighting branch into the devel branch, and installed it on Rhea, in uvcdat/latest_Mesa.  This installation has a few last-minute bug fixes not actually in the repository yet.
@susburrows  , I would like to know how it works for you.

[2016-02-05 18:51] painter1 commented on #64
I've made some changes to the function that determines whether a variable is to be mass- or area- weighted.  The attached files list each variable from a sample ACME output file and whether it is mass- or area- weighted.  Most of the discussion on this subject is on a Confluence page.

[weighting_choice_new.txt](https://github.com/UV-CDAT/uvcmetrics/files/119657/weighting_choice_new.txt)
[weightin

[2016-02-05 22:25] susburrows commented on #64
Hi Jeff, thanks for this!  I've been operating at less than normal efficiency / capacity this week due to illness.  I may not be able to try out your new version until next week, but I look forward to trying it out.

[2016-02-09 19:12] susburrows commented on #64
I checked out the files you posted with the weighting choices and they look good to me!  Thanks!  I'll try to test out the code later today.

[2016-02-11 23:16] susburrows commented on #64
Just adding a link to the Confluence page with the rest of the discussion https://acme-climate.atlassian.net/wiki/pages/viewpage.action?pageId=35586630

[2016-02-17 17:47] painter1 commented on #64
Susannah, any luck with finding time to try the new code?  We have a code freeze scheduled for tomorrow, for final testing prior to the 2.4.1 release next week.

[2016-02-18 02:44] susburrows commented on #64
Hi Jeff, Sorry, tuning activities have been keeping me very busy.  I may be able to try it out before the end of the week, but I know this won’t help you with your deadline.  It is still on my list though.

From: Jeffrey Painter <notifications@github.com<mailto:notifications@github.com>>
Reply-To: UV-CDAT/uvcmetrics <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Wednesday, February

[2016-03-01 20:00] doutriaux1 commented on #68
@painter1 not sure this is done, far from it even.

[2016-03-02 00:09] painter1 opened #136 "region support in lat-lon contour plot of a level set"
This bug was discovered by @glpotter.  Suppose you request a lat-lon contour plot (set 5) of a level set of a 3-D variable (e.g., with --varopts 850).  If you also specify a region, the region will be ignored in the plot (although it is taken into account in the mean computation).  If you specify a region but not a level set, then the plot will show just the specified region (although the plot cou

[2016-03-02 18:19] painter1 commented on #68
I don't know how this got closed, but it was surely a mistake.  Maybe I thought I was typing in another window or something.

[2016-03-09 01:03] painter1 opened #137 "restore antialiasing to diags.py"
The previous diags.py, diags-old, paid attention to the "antialiasing" command-line option.  If False, it would call the setantialiasing() method of the VCS canvas.
This behavior should be implemented in the current diags.py.

[2016-03-22 20:21] painter1 commented on #17
It's a year later, and titles especially still need a lot of work.  For any individual plot it's obvious what to do.  To do it all, working in general, is a big job which needs a substantial amount of dedicated time.

[2016-03-22 20:23] painter1 opened #142 "symmetric contour levels for differences"
For a contour plot of a difference, e.g. model-obs, the contour level range should be centered about 0.  For example, if the difference ranges from -34 to 48, then the contour levels should range from -50 to 50.

[2016-03-22 20:25] painter1 opened #143 "contour colormap"
Recent changes make it possible to add a command-line option by which the user can specify the color map of a contour plot.  We should do that.  And there should be some more thinking about what default to use.

[2016-03-22 20:26] painter1 opened #144 "contour lines"
Sometimes the user may want lines drawn between contours.  This should be a command-line option.

[2016-03-22 20:29] painter1 opened #145 "polar plot close gap"
Polar plots (plot set 7) still may have a gap for low resolution data, e.g. a 2 degree mesh, and some obs sets may have such a grid.  We need to wrap around more in order to make the plots prettier.

[2016-03-22 20:32] painter1 opened #146 "polar plot missing hemisphere"
There have been some complaints about polar plots (plot set 7) not working for one pole or another.  They work for me!  This may be a problem only for certain versions of UV-CDAT, or maybe a problem with it being too easy to mis-type one of the keywords needed for this.  Or maybe there's no issue here at all any more.

[2016-03-22 23:46] painter1 commented on #146
Jerry Potter reported that the problem is that an initial space is required, e.g. in " Southern Hemisphere".  This space should be permitted but not required.

[2016-03-23 14:43] mcenerney1 commented on #145
There's a caution with this. Namely, closing this gap will make it appear that there is data filling the gap when there may not be any data.

[2016-03-23 16:50] painter1 commented on #145
@mcenerney1 , that's a good point.  The present code (amwg.py, plot set 7, method plan_computation) expands longitude to the range 0:360 regardless of the original range.  Maybe the solution is to see whether a slight expansion (maybe 1 cell width on each side, width is the average from the first 10 and last 10 cells respectively) in longitude would extend the longitude bounds to overlap.  Expand

[2016-03-24 14:36] doutriaux1 commented on #145
there is data. It's a vcs "features" it draws data from node to node, reading data from (0,360) actually leaves a gap in nodes e.g. for a 5 degree grid first point is 2.5 and last 357.5 hence the white space. now reading the data with an extended point (which cdms2 actually allows us to do) will give us data from 2.5 to 362.5 and no gap will be shown.

[2016-03-24 17:09] painter1 opened #147 "climatology assumptions about time"
When climatology is computed from "raw" data (i.e., model or obs, not other climatology files), the computation in inc_reduce.py has unchecked assumptions about time units, bounds, and calendar.  These assumptions are noted in the comments.  The assumptions should be relaxed, and checks put in.

[2016-03-25 01:20] painter1 opened #148 "latRegWgt wants equally spaced latitudes"
We have seen a failure on doing plot set 2 on Rhea.ccs.ornl.gov, with this error message: "ERROR in latRegWgt: Expecting equally spaced latitudes"
The function is a translation of an old NCL function.  It should be rewritten to be more capable.
Here is a run line which demonstrated the problem:
diags.py --model path=/lustre/atlas1/cli112/world-shared/sburrows/climos/mom_cntl.FC5AV1F.ne30_ne30.tita

[2016-03-25 21:01] painter1 opened #149 "hybi has strange axis"
When climatology.py generates climatologies, the monthly ones have normal axes, but the quarterly ones have special axes with integer values.  There's currently an example in aims4.llnl.gov:/space1/test_data/climate_output

[2016-03-30 17:00] painter1 commented on #149
fixed, on devel and master branches

[2016-03-30 17:00] #149 closed

[2016-04-05 19:38] painter1 commented on #111
It would be useful to have a general-purpose vector plot capability.  That would cover (UBOT,VBOT) as well as what Jerry Potter just tried today: a vertical average of the horizontal wind (U,V = zonal,meridional velocity). And it would cover whatever else comes up next.

[2016-04-05 20:07] doutriaux1 commented on #111
You mean contour with arrows on it? Kind of like streamlines? VCS use to be able to do this. Do you have an example plot you can post here?

[2016-04-05 20:20] painter1 commented on #111
Yes, a vector-contour plot is vectors (little arrows) overlaying a contour plot (isofill).  We're doing that now, with VCS.  Thus the issue isn't "how to make a plot".  The issue is mainly about setting up the input system, and probably a bunch of minor interior tweaks.  There might be some difficulties in getting the arrows to be the right size and density, but more likely not.

[2016-04-14 20:18] painter1 opened #152 "diagnostics should compute climos from climos"
Sometimes your data is a bunch of climatology files you need a climatology for a season which isn't one of those files.  For example, the standard LARYEA obs include a climo file for every month, but not for MAM.  Right now we compute the climatology from regular monthly data but not from monthly climatology files, even though that is no harder.  We should compute climos from climo files if needed

[2016-04-15 13:50] doutriaux1 commented on #152
@mcenerney1 we were looking at this yesterday with @painter1 it seems like adding a flag for no regular expression check would be enough (then maybe check with cdms to know which month is which, or simply assume first file in january)

[2016-04-15 16:47] painter1 commented on #64
RMSE is just being added today.  It is not mass-weighted.  I'll create another issue for that, and close this issue when the 2.4.1 release is officially out.

[2016-04-15 16:53] painter1 opened #155 "Mass weighting, and other weightings, of RMSE and CORR"
Some time today, the master branch will see @mcenerney1 's computation of the RMS error RMSE and correlation CORR between model & obs (or model & model, etc.).  These are computed with genutil functions.  Both RMSE and CORR involve averages, and thus should be weighted as the mean calculations are weighted - sometimes mass weighting, sometimes area weighting.  I do not know what weightings the gen

[2016-04-21 16:25] chaosphere2112 opened #159 "Running same plot set against against multiple OBS datasets causes files to be overwritten"
If you run:

[code]

on AIMS4, you will be left with 4 combined output files:

[code]

which are based off of the ERA40 dataset (or whichever you run second). It seems like the "easy" fix would be to include what OBS dataset is used in the filename, to prevent the runs from overwriting each other.

[2016-04-21 17:01] mcenerney1 commented on #159
Short term fix: don't specify outputdir or make a subdirectory with a different name for each obs.

[2016-04-21 17:17] chaosphere2112 commented on #159
@mcenerney1 Yeah... looking into this further, I realized I was being dumb, and should just use the metadiags script, which handles a lot of this. It also crashes horribly, but that's a separate problem.

[2016-04-21 17:31] painter1 commented on #159
Nevertheless, this is a bug - we should never overwrite files unless we know that the new file is basically the same, i.e. the same plot set and the same data.

[2016-04-21 17:35] mcenerney1 commented on #159
Agreed.

[2016-04-26 20:46] painter1 opened #164 "All plot sets should support standard_variables"
In amwg.py is a variable amwg_plot_spec.standard_variables.   It's a dictionary.  Each entry defines a way to compute a variable from other variables.  There is an associated class method stdvar2var, and they are both used in plot set 5.  This amounts to a system for adding user-defined diagnostics, for handling the case where model and obs use different names for the same thing, etc.

This featur

[2016-04-26 21:21] chaosphere2112 opened #165 "Plotset 11 KeyError: 'model_obs_Warm_Pool'"
This diags command on aims4 raises an exception and bails:

[code]

Here's the output log:

[code]

[2016-04-26 21:26] chaosphere2112 opened #166 "Plotset 12 KeyError: 'APR_model'"
This diags command fails and raises an exception:

[code]

Note: this command generated by metadiags.

Here's the log:

[code]

[2016-04-26 21:29] chaosphere2112 opened #167 "Plotset 3 TypeError: Error Converting."
[code]
Note: command generated by metadiags.

Log:

[code]

[2016-04-26 21:30] chaosphere2112 opened #168 "Plotset 7 KeyError: 'CLDTOT_VISIR'"
[code]

Another one from metadiags

Log:

[code]

[2016-04-26 22:51] painter1 commented on #167
In the file /space1/test_data/obs/ERA40_01_climo.nc, it really is true that the variable LHFLX has units attribute W/m~S~2~N.   I can make no sense of this.  Probably our software *shouldn't* make sense of this.  It's almost surely wrong.

[2016-04-27 16:38] chaosphere2112 commented on #167
@painter1 I'm working on getting another copy of the ERA40 data and seeing what's up with that.

[2016-04-27 17:05] chaosphere2112 commented on #167
@painter1 Looks like the raw data from ERA40 has the variable labeled as `slhf`,  and the units are `J m**-2`, which sounds like a much more reasonable unit. I'm guessing something went wrong in the obs rewriting/climatology-ing.

[2016-04-28 17:12] painter1 commented on #72
svg output is in diags.py now, alongside png output.  There's no metadata in the svg files, however.

[2016-04-28 17:12] #72 closed

[2016-04-28 22:29] painter1 opened #176 "wrong after metadiags runs diagnostics on hires files"
Yu-ying Zhang found a problem when running metadiags to get a collection of cloud diagnostics.  The means shown in the plots are often exactly the same for different seasons - but only for the high-resolution ne120 files; it worked fine for the lower-resolution ne30 files.  The plots were usually wrong, but sometimes different.  She could get correct plots and means even for ne120 files if she ran

[2016-04-29 20:41] painter1 opened #179 "climatology.py limits filename length"
climatology.py doesn't work with a filename length over about 104 characters, e.g. the final "nc" of the following gets dropped before restrict_to_season() is called:
/space1/test_data/coupled_run_raw/regridded/20160401.A_WCYCL2000.ne30_oEC.cori.alpha4_00.cam.h0.0015-06..nc

My guess is that this is a problem with argparse, but I don't know.

[2016-05-03 14:40] doutriaux1 opened #180 "wrong parameters passed somewhere to vcs plot function"
When I run the test suite I see:
[code]

plotparms shouldn't be passed to any `canvas.plot` call

[2016-05-03 23:43] doutriaux1 opened #181 "template names are not necessarily unique"
when running the test test suite it "sometimes" (not always of course) seem to be running into template name conflicts:

[code]

full log is at:

https://open.cdash.org/viewTest.php?onlyfailed&buildid=4350071

[2016-05-03 23:44] doutriaux1 opened #182 "test suite got really slow"
I suspect EzTemplate bits, but I think jonatas has a fix in the works

[2016-05-11 22:12] doutriaux1 commented on #182
@jccosta I think you're already looking into this right?

[2016-05-11 22:12] doutriaux1 commented on #181
@jccosta I think you're the one that should take a stab at this. Thanks!

[2016-05-16 17:38] jccosta commented on #181
@doutriaux1 Could you clean your cache ( /tmp/*.xml and rm /tmp/*.cache.) and try it again? Jeffrey had the same problem and when he cleaned up his cache, everything worked smooth.

[2016-05-16 17:46] jccosta commented on #182
@doutriaux1 I will send an email about this for you. The text is to big to put here.

[2016-05-16 17:52] doutriaux1 commented on #181
@jccosta this occurs somewhat randomly when running the test suite. Most of the times the test suite passes but evryonce in a while it will run into this.

[2016-05-16 17:53] doutriaux1 commented on #182
thanks!

[2016-05-16 18:08] jccosta commented on #181
@doutriaux1 I will investigate this further.

[2016-06-03 16:57] glpotter opened #191 "Extensions on maps and colorbar in Diags.py"
It looks like we need to have extension arrows on the color maps for some plots.
The NCAR AMWG doesn’t have them so it gives us a false sense of the magnitude of the variable.
This may involve adding some logic. We are using prescribed ranges so you will have to check to see if the prescribed data range is larger than the variable range.
I have attached 2 plots: one from DIAGS.py and the other fro

[2016-06-03 17:02] glpotter opened #192 "regional maps in diags.py need aspect ratio"
There are some regional maps in diags.py that need the aspect ration fixed. I have attached the diags.py output and the AMWG (NCAR) output. Also the difference isn't plotted for the tropics. and the map has double labels (not aligned). The Diags.py output is the last map.

![set5_ann_prect_gpcp_trop_obsc](https://cloud.githubusercontent.com/assets/14208252/15786598/53af6afa-2972-11e6-906c-3484fb30

[2016-06-03 18:17] doutriaux1 commented on #191
@glpotter @mcenerney1  to get the extension levels we do not need any new code.
@glpotter got to the wiki page, list the variables that needs extensions (left or right or both)
@mcenerney1 edit default_levels to have -1.e20 as first level for left arrow and 1.e20 as last level for right arrow. And VOILA!

[2016-06-03 18:18] doutriaux1 commented on #192
@mcenerney1 simply add `ratio="autot"` to the vcs plot calls, and VOILA!

[2016-06-03 18:29] glpotter commented on #191
If the extensions are only plotted if they are needed, can't  we add the extensions to all variables? @mcenerney1 @doutriaux1 ?

[2016-06-03 18:32] doutriaux1 commented on #191
no they are not plotted only if needed, although that is a good idea for another time, for now it's on or off, so if you want we can always add extensions to the `default_levels` that is very easy. @mcenerney1 to do this after we retrieve the levels (or difflevels) simply add
[code]
Voila.

[2016-06-03 19:00] mcenerney1 commented on #191
is  ratio=“autot” a keyword to plot?

[2016-06-03 19:02] glpotter commented on #191
Here is how I use it:

x.plot(s, iso, continents = 4, ratio="autot")

Jerry Potter
UC Davis
Department of Earth and Planetary Sciences
One Shields Ave
Davis, CA 95616
(707) 315-8314
jpotter@ucdavis.edu

From: James McEnerney <notifications@github.com>
Reply-To: UV-CDAT/uvcmetrics <reply@reply.github.com>
Date: Friday, June 3, 2016 at 12:00 PM
To: UV-CDAT/uvcmetrics <uvcmetrics@noreply.github.com>

[2016-06-06 14:11] doutriaux1 opened #195 "some units are still unresolved"
Examples

[code]

and

[code]

and

[2016-06-14 21:09] doutriaux1 opened #198 "rmse on plots is not scaled"
e.g. TPCLDLWP

[2016-06-14 22:12] glpotter opened #199 "colormap info doesn't get passed from metadiags to diags"
The --colormaps option in metadiags does not get put into the output, whereas the --colormaps does work in diags.

[2016-06-14 22:19] glpotter commented on #192
Also, the latitude range in the metadiags output for "TROPICS"  is different from NCAR AMWG output. The latitude range should be from 40 south to 40 north (-40,40)

[2016-06-15 13:54] doutriaux1 commented on #192
@glpotter according to https://en.wikipedia.org/wiki/Tropics tropics should be between   23°26′13.7″ south and  23°26′13.7″ north :stuck_out_tongue_winking_eye: Easy fix though.

[2016-06-15 13:58] glpotter commented on #192
OK, but the AMWG routine calls the tropics -40 to 40. Who knew? - we have to be like them....

[2016-06-15 13:59] glpotter commented on #192
![set5_ann_prect_gpcp_trop_obsc](https://cloud.githubusercontent.com/assets/14208252/16082566/bf7ced54-32c6-11e6-8aa8-fe557b91098e.png)

[2016-06-15 14:00] doutriaux1 commented on #192
@glpotter I was just teasing you.

[2016-06-15 14:01] glpotter commented on #192
interesting that Jeff or whoever did this used the literal definition of tropics without looking at the AMWG set

[2016-06-15 14:32] doutriaux1 commented on #192
@glpotter it's on aims4 now, generated with:
[code]
Not sure why there is only one plot though. Might be read access issue.

Let me know.

![set5_ann_prect_gpcp_tropics-combined](https://cloud.githubusercontent.com/assets/2781425/16083828/520e8bba-32cb-11e6-99f2-be18d14704a0.png)

[2016-06-15 17:24] chaosphere2112 opened #201 "Specifying both --levels and --difflevels causes error"
The offending code is [here](https://github.com/UV-CDAT/uvcmetrics/blob/886fb52cc611cb84004df9b5b1f00ea734fc1136/src/python/frontend/options.py#L215-L222); if you specify both `--levels` and `--difflevels`, it condenses both lists into a single list before passing that to this function, which then fails to recognize two different lists as valid input.

[2016-06-15 17:25] chaosphere2112 commented on #201
(to clarify: the `levels` argument to the function becomes [levels, difflevels])

[2016-06-15 17:28] chaosphere2112 commented on #201
(on second thought, it's probably an error in argument parsing; not sure why `levels` would have both sets)

[2016-06-16 05:05] painter1 commented on #192
Brian Smith supplied most of the region definitions.  Though I don't specifically know about "tropics", it must have been him.  He made a reasonable choice, but I agree that NCAR's AMWG is the standard to match here.  FWIW, I've also seen "tropics" defined as -30 to 30.  No doubt you could find people using other ranges if you wanted to look.

[2016-06-16 14:02] doutriaux1 commented on #192
@glpotter it's fixed in https://github.com/UV-CDAT/uvcmetrics/pull/200

[2016-06-16 15:21] glpotter opened #202 "Z3 JJA 500 mb plot error"
There is something wrong with the z3 500mb NCEP difference plot. See for yourself. Is it the difference values or the choice of the difference intervals? This is a low priority since they shouldn't be comparing the model with this old reanalysis.
![set5_jja_z3_500_ncep_global-combined](https://cloud.githubusercontent.com/assets/14208252/16122219/2c5871da-339b-11e6-803e-28d53642918a.png)

[2016-06-16 15:52] glpotter commented on #202
The problem is that we didn't convert the data to hectometers so everything is a factor of 100 larger than the AMWG plots. In any case the difference contours are wrong for the Z3-500 and should be
dcntrs_Z3_500=(/-1.2,-1,-.8,-.6,-.4,-.2,-.1,0,.1,.2,.4,.6,.8,1,1.2/) (times 100) we have

-135 -125 -115 -95 -85 -75 -65 -55 -45 -25 -15 -5 5 15 25

[2016-06-16 15:54] glpotter commented on #202
@doutriaux1 That should be  the Z3500 difference.

[2016-06-16 15:57] doutriaux1 commented on #202
Thanks that's because we look for Z3 not Z3_500 I'll add this to the code

[2016-06-16 15:58] glpotter commented on #202
@doutriaux1
 Here is the AMWG plot for the same variable. Note difference interval
![set5_jja_z3_500_jra25_obsc](https://cloud.githubusercontent.com/assets/14208252/16123589/6c60bf3a-33a0-11e6-96d1-e85268dfb6b0.png)

[2016-06-16 16:02] glpotter commented on #202
@doutriaux1 The same goes for the z3 300mb

dcntrs_Z3_300=(/-1.8,-1.5,-1.2,-.9,-.6,-.3,-.1,0,.1,.3,.6,.9,1.2,1.5,1.8/) X 100

[2016-06-16 16:16] glpotter commented on #202
In fact all those plots that specify levels - the difference plots are wrong.

[2016-06-16 16:18] glpotter opened #204 "Z3 levels to hectometers"
The Z3 plots in AMWG are converted to hectometers. Be sure to check the contours and the difference contours.

[2016-06-16 16:51] doutriaux1 commented on #202
@glpotter fixed in #205

[2016-06-16 16:52] doutriaux1 commented on #202
![set5_jja_z3_500_ncep_global-combined](https://cloud.githubusercontent.com/assets/2781425/16125322/09e4e716-33a8-11e6-9d05-ced2d30d889d.png)

[2016-06-16 16:53] doutriaux1 commented on #204
yep done in #205

[2016-06-16 16:55] #195 closed

[2016-06-16 16:56] #192 closed

[2016-06-16 16:56] #191 closed

[2016-06-16 16:58] doutriaux1 commented on #181
@jccosta any progress on this? Also every once in a while comibned plots get all mangled up together, I suspect it's related to this:
[code]
does lead to this `sometimes` of course it works `most` of the times...

[2016-06-16 17:02] doutriaux1 commented on #201
@chaosphere2112 I ran:
[code]
and got this uggly but reasonable reslut:
![set5_jja_z3_500_ncep_global-combined](https://cloud.githubusercontent.com/assets/2781425/16125630/5dca13be-33a9-11e6-8b97-989d2467fa30.png)

can you please provide us with a failing command line?

Thanks.

[2016-06-16 17:18] isubsmith commented on #192
In my defense, I just copied the region definitions from NCAR definitions.
I didn't arbitrarily make them up or anything :)

On Thu, Jun 16, 2016 at 1:05 AM, Jeffrey Painter <notifications@github.com>
wrote:

[2016-06-16 17:20] isubsmith commented on #192
They might define "TROPICS" for lwmg differently than amwg perhaps....?

[2016-06-16 17:32] doutriaux1 commented on #192
don't worry @isubsmith it was an easy fix

[2016-06-16 17:41] jccosta commented on #181
Hi Charles,

I fixed this problem a while ago. I may have forgotten to push the commit to the repository. This weekend I will take a look on this again and let you know. Sorry for the delay.

[2016-06-16 19:19] doutriaux1 commented on #181
That would be awesome! Thanks!

[2016-06-16 19:47] doutriaux1 commented on #201
it is actually an issue with `argparse` it appears if the first level is a negative value then `argparse` thinks it is dealing with the next option. using `=` and `quotes ""` solves this
example:
[code]
fails as described above
but
[code]
works

[2016-06-16 19:47] #201 closed

[2016-06-16 22:48] #202 closed

[2016-06-16 22:48] #204 closed

[2016-06-16 22:48] #199 closed

[2016-06-19 14:40] jccosta commented on #181
@doutriaux1 I pushed the corrections to my branch and also updated it to the current devel branch in uvcmetrics: 563eaa445e75518562d53544966469723b78589e
I tested it generating all set of plots and everything worked fine. This version is also a bit faster than the previous one for set plots 11 and 12, and it has a small memory footprint. But I didn't have time to do more testes. Then I am giving y

[2016-06-20 15:39] doutriaux1 commented on #181
thanks! will try it shortly.

[2016-06-21 15:03] glpotter opened #207 "metadiags will only produce one set at a time"
When I try more than one set, only one set is produced.

[2016-06-21 15:05] glpotter opened #208 "set 7 polar plots have missing longtide (white space)"
the polar plots in set 7 still have the white space at 0 degrees longitude for grids that are not wrapped.

[2016-06-21 15:34] glpotter opened #209 "set 7 polar plots in the viewer don't show the 3 panel plot."

[2016-06-30 14:37] glpotter opened #213 "Stress plots (vector) not correct"
in the topten plot set here is a comparison between metadiags and AMWG.
Metadiags needs to be fixed.
![settopten_ann_stress_ers_global-combined](https://cloud.githubusercontent.com/assets/14208252/16492071/40cc7a4e-3e95-11e6-8135-6af18fbc8853.png)
![set6_ann_stress_ers_obsc](https://cloud.githubusercontent.com/assets/14208252/16492103/6a7e2e8c-3e95-11e6-9df1-e2a2fd7e7d21.png)

[2016-06-30 14:43] doutriaux1 commented on #213
@glpotter for once we are ahead of the game. @mcenerney1 just fixed this!

[2016-07-06 01:26] glpotter opened #214 "pdf plot in diags needs some attention"
We are trying to use the .pdf format and the labels are shifted slightly. Could somebody look at these?. Is this a VTK issue?

see attached
[set5_ANN_CLDHGH_ISCCP_Global-combined.pdf](https://github.com/UV-CDAT/uvcmetrics/files/348905/set5_ANN_CLDHGH_ISCCP_Global-combined.pdf)
[set5_ANN_CLDHGH_ISCCP_Global-diff.pdf](https://github.com/UV-CDAT/uvcmetrics/files/348906/set5_ANN_CLDHGH_ISCCP_Global-di

[2016-07-08 03:19] glpotter commented on #214
Has anybody looked at this?

[2016-07-08 03:24] glpotter commented on #214
@aashish24 @doutriaux1 @chaosphere2112 , even the pdf files look bad enlarged. The coastlines look bad enlarged. This is something new. I thought .pdf files were vector drawn. Can we put out .ps also?

[2016-07-08 14:00] doutriaux1 commented on #214
@dlonie any chance you can take a quick look at this?

[2016-07-13 16:46] dlonie commented on #214
I'm suspicious of this bit:

https://github.com/UV-CDAT/uvcdat/blob/master/Packages/vcs/vcs/VTKPlots.py#L1110-L1113

If the Write3DPropsAsRasterImage option is enabled on the vtkGL2PSWriter, this will cause all of the geometry to be exported as a raster image, rather than vector graphics. It is required for textures due to limitations of GL2PS, but at the cost of forcing everything beside text and

[2016-07-13 16:55] aashish24 commented on #214
thanks @dlonie, I am trying to disable the "Write3DPropsAsRasterImage" option for now. For the long run
we can try the approach we discussed other day (use a filter to extract the outlines of the geometry).

[2016-07-13 16:56] aashish24 commented on #214
@glpotter ping!

[2016-08-02 16:12] chaosphere2112 opened #222 "Plotset 5 Failures"
## Mega issue for Plotset 5 Failures from Metadiags

These were run with a fresh uvcmetrics install via `conda create -n uvcmetrics_clean -c uvcdat uvcmetrics`. I ran on my laptop using obs and climate_output2 copied from /space1 on aims4.

This is the command I used, minus paths:

[code]

The table below is every diagnostic that failed to run, along with the relevant lines from stderr. Further be

[2016-08-02 16:14] chaosphere2112 commented on #222
Forgot the model header:

### Climate data:

[code]

[2016-08-02 16:52] painter1 commented on #222
Obviously, all but one of these are cases where a variable is requested but is not available directly in ACME output.  Sampling them, I see some cases where the variable is a masked variant of one we have and some for which we have nothing close that I know of, so there may be an involved calculation.  I don't see any which look like a simple variable renaming would handle it.

The one exception i

[2016-08-09 21:59] painter1 commented on #222
Obviously, all but one of these are cases where a variable is requested but is not available directly in ACME output.  Sampling them, I see some cases where the variable is a masked variant of one we have and some for which we have nothing close that I know of, so there may be an involved calculation.  I don't see any which look like a simple variable renaming would handle it.

[2016-08-09 22:10] painter1 commented on #222
I've looked more carefully at four of them.  Two were quick & easy and are already done (less than an hour for both of them).  One requires data which is in CESM/CAM output, but not in the ACME output I'm looking at.  Maybe there's an alternative, or maybe ACME just has to be enhanced to write out another variable.  The fourth requires data which is in neither my sample CAM output nor my sample AC

[2016-08-12 00:17] painter1 commented on #222
I'm finished now with most of the variables, not all.  I'll be issuing a pull request tomorrow.  Here are comments on everything on the list:
ALBEDO done.
ALBEDO done.
EP done.
LHFLX done.
   This case hints at what we can expect in the future.  The exception came from a user-supplied diagnostic, among the first of many we hope to see in the future.  But the exception is not at all his fault.  ECM

[2016-08-12 13:56] chaosphere2112 commented on #222
@painter1

Looking at some AMWG output, PRECIP with Willmott & Matsura should be PRECIP_LAND; they describe PRECIP as "Cumulative precipitation (land)".

[2016-08-12 13:56] chaosphere2112 commented on #222
I'll fix it so it has the correct request.

[2016-08-12 20:55] painter1 commented on #222
PRECIP_LAND is done.  I also did PRECIP, which is different.  So I've made a pull request, #230, and will soon close this issue.

The only missing variables left are the cloud variables which, as I wrote before, seem to be more of an ACME issue than a diagnostics issue.  And the atrocious HadISST* obs files should to be fixed, but they also aren't a metrics/diagnostics issue.

[2016-08-12 20:57] chaosphere2112 commented on #222
:+1: Awesome, thanks Jeff!

[2016-08-17 15:38] doutriaux1 opened #237 "png generated too many times"
in case of multi plots, `tm2` template is saved after every plots, i.e 3 png/svg/pdf are generated the first two being overwritten essentially by the 3rd one. png/svf/pdf are time consuming we should avoid generating the first two pngs.

[2016-08-17 15:49] mcenerney1 commented on #237
Agreed. The next generation of diags should correct this!

[2016-08-17 22:59] painter1 opened #239 "y-axis label hard-coded to Temperature"
For plot sets 3 and 10, yLabel is set to "Temperature" regardless of what variable is being plotted.  The label should be taken from the variable's name and units.

[2016-08-17 23:13] painter1 commented on #239
@jccosta , I would assign this to you but can't because you haven't accepted the pending invitation to join the uvcmetrics team.

[2016-08-19 21:27] mcenerney1 opened #242 "vtk attribute problem"
I'm having an attribute problem with vtk.
AttributeError: 'vtkCommonCorePython.vtkUnsignedCharArray' object has no attribute 'InsertNextTypedTuple'
I've updated vtk with no success. Is there another package?

[2016-08-19 22:02] chaosphere2112 opened #243 "Source attribute shows up in plots"
Looks like the "source" attribute from variables is showing up in the plots; it interacts badly with the new nickname feature from Jim. Hadn't been a problem up till now because we had crummy obs, but using the file at /space1/test_data/obs_for_diagnostics/WILLMOTT_ANN_CLIMO.nc we get this image (using the below command from diags):

[code]

![figure-set5_global_ann_trefht_plot-combined](https://c

[2016-08-19 22:08] mcenerney1 commented on #243
I'll take a look at it

[2016-08-22 21:39] painter1 commented on #237
This issue is why it's hard to get really good multi (aka combined, composite) plots and really good simple (single) plots in the same run.  I'm working on it now.

[2016-08-23 18:09] painter1 commented on #237
The problem lies in the method canvas.setcolormap().  Apparently its meaning in VCS is to set the color map for all parts of a compound plot.  So it redraws the parts which have already been drawn.  (The redrawn plots are incorrect, but that's another issue).  What we want is for that method to set the color map only for what happens next, with no redrawing.  That is, we don't want the update() ca

[2016-08-23 21:49] painter1 commented on #237
The updated (recomputed) plots are sometimes preferred by the automated test baselines, and in one case I think they're better.  We should do things right the first time, but for now I put in some special-case coding to handle them.

Also, the section which writes compound plot files was indented wrong, which made it run in an inner loop.  I fixed that.  This was probably what had instigated this

[2016-08-23 21:52] doutriaux1 commented on #237
@painter1 yes the badly indented section for compound plots is definitely what triggered this issue I could see my plot being cleared and replotted 3 times when debugging plotset 5.

[2016-08-24 16:49] painter1 opened #246 "contour levels need units"
I discovered today that frontend/options.py sets contour levels drawn from graphics/default_levels.py.  They don't have units attached!  This is wrong.  At the point where this happens, it is impossible to know the units of the data which will be plotted.  If the contour levels turn out to be right for the variable plotted, that will only be by luck.  We're lucky most of the time, because most of

[2016-08-24 17:30] painter1 commented on #246
I was half-wrong when I added this issue.  There is a provision for units in default_levels.py.  But it's hardly ever used.  Units should be stated in every variable, not just a handful.

[2016-08-24 17:49] mcenerney1 commented on #243
This is fixed in latest master.

[2016-08-24 17:49] #243 closed

[2016-08-24 18:15] mcenerney1 commented on #242
fixed with a new vcs.

[2016-08-24 18:15] #242 closed

[2016-08-24 18:54] #237 closed

[2016-08-24 21:30] chaosphere2112 opened #248 "Plotset 1 filename/path wrong"
It appears that plotset 1 will now generate a file called `table_output--.text` in whatever directory you ran diags from. I think the arguments being passed [here](https://github.com/UV-CDAT/uvcmetrics/blob/5f9edaa125485dd28e2498e162cf8e1c6c62d4f1/src/python/frontend/diags.py#L263-L264) aren't quite right; I tracked this down as the place where the filename/table is being generated.

[2016-08-25 04:29] doutriaux1 commented on #246
@painter1 this is mainly a straight port from the original AMWG NCL code... It will definitely be all gone when switching to CDP

[2016-08-25 04:30] doutriaux1 commented on #246
@zshaheen do not forget about this, most of this code needs to be somehow translated into the paramater files.

[2016-08-25 05:41] zshaheen commented on #246
@doutriaux1 Okay, I'll make sure to note this.

[2016-09-08 16:27] mcenerney1 opened #252 "f_startswith"
When running diags,  f_startswith is frequently used. For eaxmple f_startswith('HadISST').  The problem in this case is that each of 'HadISST_PD_1', 'HadISST_PI_1', 'HadISST_1' starts with HadISST. So this particular case may or may not be computed. The latter appears to be happening. There are other cases of this for other experiments.  This is a significant issue.

[2016-09-12 16:20] painter1 commented on #252
f_startswith('foo') should be about the same as the shell expression "foo*".   For this situation, we need a different filter.   This particular case may work with things like f_startswith('HadISST_1'), but in general f_startswith cannot be a complete solution.  We could add more filters, or support traditional regular expressions, or let the shell expand an expression and take a (lengthy) file li

[2016-09-12 16:29] mcenerney1 commented on #252
The kludge I'm pursuing is to rely on the name of the file to have some extra _XXX_ as in the case of HadISST_PD_ and HadISST_CL_.  The other cases such as CERES follow this pattern.  This solution is easily defeated and we need to rethink it.

[2016-09-12 16:41] painter1 commented on #252
So you're thinking of a new filter.   The filenames we encounter are (at present, for ACME and obs only) very standardized, so I wouldn't call it a kludge if you're only targeting our present users.  Anyway, I'd give the new filter a new name.

[2016-09-21 16:34] mcenerney1 opened #256 "/tmp conflict"
On aims4 there was a permissions conflict related to the use of cdscan while running diags. We need to resolve this to allow for multiple users.

[2016-09-21 17:27] painter1 commented on #256
This sort of thing is almost irreproducible because it depends on the timing and content of what multiple users are doing.  I'll put the cdscan output (xml files) in a subdirectory of /tmp named after the user, rather than /tmp itself.  Then we can cross our fingers, and re-open the issue if that wasn't enough.

[2016-09-21 18:44] painter1 commented on #256
Done, in branch cachepath; I'll issue a pull request momentarily.

[2016-09-21 18:44] #256 closed

[2016-09-22 21:25] chaosphere2112 opened #258 "Plotset 7 has "default" in file output"
Decided to get a head start on the next batch of metadiags problems, and discovered that Plotset 7 is generating images with filenames like `set7_JJA_TS_default_NCEP-combined.png`. The viewer can't find those files, and is checking for what looks to be the "correct" filename, `set7_JJA_TS_NCEP-combined.png`.  You can find some sample output in `/space1/test_data/sam_output/more_plots` from the com

[2016-09-22 21:25] chaosphere2112 commented on #258
I was using the conda environment `uvcmetrics-test` on AIMS4

[2016-11-03 18:09] chaosphere2112 opened #268 "tier1b broken"
This is actually a super easy fix (I figured it out for Yuying when she was trying to run metadiags on the cloud set); this block of code: https://github.com/UV-CDAT/uvcmetrics/blob/09b7eb7ed1313254daae5d2b543d23fb080e7f8a/src/python/frontend/form_filenames.py#L134-L151

needs to have a check if the plotset's name begins with "tier1b_"; in testing with Yuying, I added it to line 139 as an alternat

[2016-11-08 19:21] painter1 commented on #258
I fixed this problem; it's in a branch "issue258" and I'll issue a pull request soon.
I don't know how to run the viewer, so I haven't tested it with the viewer.  However, the file names look good.
In testing this fix, I found another issue which was more difficult to debug.  Derived variables were not being plotted for plot set 7.  I fixed this one also, in the same branch.

[2016-11-08 19:21] #258 closed

[2016-11-09 22:55] painter1 commented on #268
Fixed.   The fix is general enough to cover most future situations.  In this case, a file name will begin with tier1b_clouds_set5_, showing both the diagnostic collection name (a key in amwgmaster.py) and the plot set name.   If the diagnostic collection name were '5', file names would begin with 'set5_'.  This applied both to filenames which the function filenames() provides to the viewer, and th

[2016-11-09 22:55] #268 closed

[2016-12-28 19:34] painter1 opened #274 "something requires 3-character month names"
I ran plot set 8 on variable T, NCEP obs, season ANN.  I noticed that July was the coldest month in the Arctic, and the warmest in the Antarctic!   After a bunch of messing around, I changed
`month = cdutil.times.getMonthString(i)`
in amwg8.py to
`month = cdutil.times.getMonthString(i)[:3]`

That fixed it.

Obviously, the bug isn't here; a string like "JANUARY" is a legitimate name for a month.  S

[2017-01-03 15:55] doutriaux1 commented on #274
@painter1 could you post this with an example to cdutil.

[2017-01-06 00:26] painter1 commented on #274
It's not clear to me whether this is a cdutil problem.   At present, I don't think it's worth the time to figure out whether it is or isn't.  Anyway, here is one way to see the plot which I'm talking about:
diags --outputdir /Users/painter1/tmp/diagout/ --model path=/Users/painter1/metrics_data/cam35_data/,climos=yes --obs path=/Users/painter1/metrics_data/obs_data_5.6/,filter="f_startswith('NCEP'